<mat-toolbar color="primary" style="height: 35px;">
  <button mat-icon-button (click)="sidenav.toggle() " id="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <h4>cQube - Dashboard </h4>
  <span style="flex: 1 1 auto;"></span>
  <span id="logout" style="padding: 1.5px; cursor: pointer; font-size: 13px;" (click)="logout()">
    <strong>Logout</strong>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list style="font-family: Arial;" class=sidenav>
      <mat-toolbar style="height: 80px; background-color: white; border-bottom: 1px solid lightgray;">
        <mat-toolbar-row style="color: rgb(84, 116, 223);">
          <span class="span" style="font-size: 15px;"><b>Logged in as: </b><br>
            <span>{{email}}</span></span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div *ngIf="!showsideMenu">
        <a id="SAR" mat-list-item (click)="sidenav.toggle()"
          style="border-bottom: 1px solid lightgray; font-family: Arial;" [routerLink]="['create-user']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp; Create User </td>
        </a>
        <a id="SAR" mat-list-item (click)="sidenav.toggle()"
          style="border-bottom: 1px solid lightgray; font-family: Arial;" [routerLink]="['change-password']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp; Change Password </td>
        </a>
        <mat-nav-list *ngIf="showLogs">
          <mat-list-item (click)="showSubmenu1 = !showSubmenu1" class="abc1"
            style="font-family: Arial; border-bottom: 1px solid lightgray;">
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
            <span class="full-width" *ngIf="isExpanded || isShowing" id="logs" style=" margin-left: 4%;"> Logs </span>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu1}" *ngIf="isExpanded || isShowing">
              expand_more</mat-icon>
          </mat-list-item>
          <div class="submenu" [ngClass]="{'expanded' : showSubmenu1}" *ngIf="isShowing || isExpanded">
            <a mat-list-item [routerLink]="['angular-logs']" id="angLogs" (click)="sidenav.toggle()"
              (click)="showSubmenu1 = !showSubmenu1"><span style="margin-left: 50px;">Angular Logs</span></a>
            <a mat-list-item [routerLink]="['node-logs']" id="nodeLogs" (click)="sidenav.toggle()"
              (click)="showSubmenu1 = !showSubmenu1"><span style="margin-left: 50px;">NodeJS Logs</span></a>
          </div>
        </mat-nav-list>
      </div>

      <span class="toolbar-filler"></span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 93vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>