.toolbar-filler {
  flex: 1 1 auto
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.img-circle{
  border-radius: 50%;
}
img{
  border: 0;
  vertical-align: middle;
}
.profile{
  float: none;
  margin: 13px 83px;
}
.sidenav a{
  padding: 4px 2px 4px 0px;
  text-decoration: none;
  font-size: 16px;
  color: #3553d8;
  display: block;
  transition: .10s;
}
.sidenav a:hover{
  background-color:  #337ab7; 
  color:#ffffff;
  text-decoration: none;
}

.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0px;
  display: block;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu1 {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu.expanded {
  height: 192px;
}

.submenu1.expanded {
  height: 96px;
}

a{
  border-bottom: 1px solid lightgray;
}

.headerBtn:hover {
  transition: transform .1s;
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12); 
  text-decoration: none;
}