<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div *ngIf='skul'>
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 1em; margin-top: 5px;">
                    Attendance report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">GUJARAT</span></p>
            </div>
            <div *ngIf='dist'>
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 1em; margin-top: 5px;">
                    Attendance report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">GUJARAT</span> <span>/ </span><span
                        (click)="clickedMarker(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{hierName}}</span> </p>
            </div>
            <div *ngIf="blok">
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 1em; margin-top: 5px;">
                    Attendance report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">GUJARAT</span><span>/ </span><span
                        (click)="clickedMarker(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{titleName}}</span><span>/ </span><span (click)="clickedMarker(blockName)"
                        style="cursor: pointer;text-decoration: underline;">
                        {{hierName}}</span></p>
            </div>

            <div *ngIf="clust">
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 1em; margin-top: 5px;">
                    Attendance report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">GUJARAT</span><span>/ </span><span
                        (click)="clickedMarker(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{titleName}}</span><span>/ </span><span (click)="clickedMarker(blockName)"
                        style="cursor: pointer;text-decoration: underline;">
                        {{title}}</span><span>/ </span><span>
                        {{hierName}}</span></p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12" id="spinner">
                        <div class="spinner-border text-secondary"
                            style="height: 20px; width: 20px; font-size: 21px; margin: 1% 5% 0% 0%; float: left; font-family: Arial;"
                            role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span
                            style="color: green; float: left; font-size: 12px; margin-top: 0.6%;font-family: Arial;">Please
                            Wait...</span>

                    </div>
                    <p id="errMsg" style="display: none; text-align: center; margin-top: 1%; font-family: Arial;"></p>

                </div>
                <div class="col-sm-6">
                    <img src="../../assets/logout.png" title="Logout"
                        style="cursor: pointer;height: 20px;width: 23px;float: right;margin: 5px 0px 0px 10px;"
                        alt="logout" (click)="logout()">
                    <img src="../../assets/home.png" title="Home" id="home"
                        style="cursor: pointer;height: 25px;width: 25px;float: right;margin: 2px 0px 0px 0px;"
                        alt="Home" (click)="districtWise()">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-secondary"
                style="font-size: 11px; width: 70px; float: left;margin: 0px 10px 5px 0px;"
                (click)="blockWise()">&nbsp;<b style="font-family: Arial;">Blocks</b> </button>
            <button class="btn btn-secondary"
                style="font-size: 11px; width: 70px; float: left;margin: 0px 10px 5px 0px;"
                (click)="clusterWise()">&nbsp;<b style="font-family: Arial;">Clusters</b> </button>
            <button class="btn btn-secondary" style="font-size: 11px; width: 70px; float: left;margin: 0px 0px 5px 0px;"
                (click)="schoolWise()">&nbsp;<b style="font-family: Arial;">Schools</b> </button>
        </div>
        <div class="col-sm-7" style="font-family: Arial;">

            <select
                style="margin-right: 10px; padding: 6.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);"
                [(ngModel)]="myDistrict" name="myDistrict" (change)="myDistData(myDistrict)">
                <option [value]="myDistrict" disabled selected="selected">Choose a District
                </option>
                <option *ngFor="let dist of districtsNames" [(ngValue)]="dist"
                    style="font-family: Arial; font-size: 11px;">
                    {{dist.name}}
                </option>
            </select>

            <select [hidden]="blockHidden"
                style="margin-right: 10px; padding: 6.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);"
                [(ngModel)]="myBlock" name="myBlock" (change)="myBlockData(myBlock)">
                <option [value]="myBlock" disabled selected="selected">Choose a Block
                </option>
                <option *ngFor="let block of blocksNames" [(ngValue)]="block"
                    style="font-family: Arial;font-size: 11px;">
                    {{block.name}}
                </option>
            </select>

            <select [hidden]="clusterHidden"
                style="margin-right: 10px; padding: 6.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);"
                [(ngModel)]="myCluster" name="myCluster" (change)="myClusterData(myCluster)">
                <option [value]="myCluster" disabled selected="selected">Choose a Cluster
                </option>
                <option *ngFor="let cluster of clusterNames" [(ngValue)]="cluster"
                    style="font-family: Arial;font-size: 11px; "
                    [ngStyle]="{'color': cluster.name !== 'NO NAME FOUND'? 'white' : '#ff3333'}">
                    {{cluster.name}}
                </option>
            </select>

        </div>
        <div class="col-sm-2">
            <img src="./../../assets//download.png" alt="Download Report" title="Download Report"
                style="cursor: pointer;height: 20px;width: 23px;float: right;margin: 5px 0px 0px 5px;"
                (click)="downloadRoport()">
            <!-- <span
                style="width: 90px;color: #284d8a;text-decoration: underline; float: right; font-size: 12px;margin-top: 5px; font-weight: bold; font-family: Arial; cursor: pointer;"
                [routerLink]="['/chart-view']">CRC Charts</span> -->
        </div>



    </div>
    <div class="row">
        <div class="col-sm-12">
            <div #mapContainer id="mapContainer" class="active" style="width: 100%; height: 84vh"></div>
        </div>
    </div>
    <div class="row"
        style="width:100%; background-color: gray;font-size: 13px;font-weight: bold; color: white; margin: 0px 0px 0px 0px;font-family: Arial; height: 22px;">
        <div class="col-sm-4">
            <span>Number of students: {{studentCount}}</span>
        </div>
        <div class="col-sm-4">
            <span style="text-align: center;">Number of schools: {{schoolCount}}</span>
        </div>
        <div class="col-sm-4">
            <span style="float: right;">Date range: {{dateRange}}</span>
        </div>
    </div>
</div>