<div class="chart-display">
    <div class="row">
        <div class="col-sm-3">
            <app-c3-kpi></app-c3-kpi>
        </div>

        <div class="col-sm-9">
            <!-- <div class="col-sm-12"> -->
                <div class="row">
                    <div class="col-sm-6">
                        <app-c3-attendance-school-wise></app-c3-attendance-school-wise>
                    </div>
                    <div class="col-sm-6">
                        <app-c3-attendance-gender-wise></app-c3-attendance-gender-wise>
                        
                    </div>
                </div>
            <!-- </div> -->
            <br>
            <br>
            <div class="row">
                <div class="col-sm-12">


                    <div class="col-sm-6">
                        <app-c3-attendance-month-wise></app-c3-attendance-month-wise>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->