/development/angular/client-side/node_modules

/development/angular/server-side/node_modules

/development/angular/client-side/package-lock.json

/development/angular/server-side/package-lock.json

/development/angular/server-side/.env

/development/python/env.py

/ansible/installation_scripts/nifi.json

/ansible/installation_scripts/config.yml

/ansible/installation_scripts/upgradation_config.yml
