wheel==0.34.2
boto3==1.13.16
gunicorn==20.0.4
Flask==1.1.2
Flask-AppBuilder==3.4.4
Flask-Caching==1.8.0
Flask-RESTful==0.3.8
Flask-Script==2.0.6
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
psycopg2==2.8.5
pycparser==2.20
pytz==2019.3
six==1.14.0
Werkzeug==1.0.1
WTForms==2.2.1
zipp==3.1.0
pandas==1.0.4
requests==2.20.0

