@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Roboto+Condensed&display=swap');
.login-pf{
    background: none;
}
.alert-error {
    background-color: #ffffff;
    border-color: #cc0000;
    color: #333333;
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 0;
    top: 20px;
    min-width: 100px;
    padding: 2px 0;
    border: solid 1px #bbb;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 5px 14px;
    color: #000 !important;
    text-decoration: none;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;
}

#kc-locale-dropdown a {
    color: #4d5258;
    background: 0 0;
    padding: 0 15px 0 0;
    font-weight: 300;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 0 5px;
}

/* a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
} */

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
    position: fixed;
}

div.kc-logo-text {
    /* background-repeat: no-repeat; */
    height: 63px;
    width: 300px;
    margin: 0 auto;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #ededed;
    overflow:visible;
    white-space: nowrap;
}

.logo{
    margin-left: 80px; 
    padding: 20px 0px 0px 0px;
}

.logoText{
    font-family:  'Oswald', sans-serif !important;
    margin-left: 130px !important;
    font-size: 84px !important;
    color:white;
}
.logoText p{
    margin-top: 20px;
    line-height: 1.4em;
}

#kc-content {
    width: 100%;
}

/* #kc-content-wrapper {
    overflow-y: hidden;
} */

#kc-info {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

#kc-info-wrapper {
    font-size: 13px;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
    max-width:150px;
    max-height:150px;
}

#kc-totp-secret-key {
    background-color: #fff;
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
}

#kc-social-providers li {
    display: block;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial,
a.zocial  {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    border: 0;
    background: #f5f5f5;
    color: #72767b;
    border-radius: 0;
    white-space: normal;
}
.zocial:before {
  border-right: 0;
  margin-right: 0;
}
.zocial span:before {
    padding: 7px 10px;
    font-size: 14px;
}
.zocial:hover {
    background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border: 0;

    box-shadow: none;
    text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft:before{ content: "\f15d"; }
.zocial.stackoverflow:before{ color: inherit; }


@media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }

    .login-pf-page{
        margin:0px auto;
    }

    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
    }
    .login-pf body {
        background:  url("../img/Group.svg");
        height:100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover !important;
        /* background-attachment: fixed; */
        /* background-position: right; */
    }
}

@media (max-width: 470px){
    .login-pf-page{
        margin:0px auto;
    }
}


@media (max-width: 767px) {

    .login-pf body {
        background:  url("../img/Group.svg");
        height:100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover !important;
        /* background-attachment: fixed;
        background-position: right; */
    }

    #kc-header {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
        text-align: left;
        height: 100px;
    }

    div.kc-logo-text {
        margin: 0;
        width: 150px;
        height: 32px;
        background-size: 100%;
    }


    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }

    #kc-social-providers li {
        display: block;
        margin-right: 5px;
    }

    .login-pf .container {
        /* padding-top: 15px; */
        padding-bottom: 15px;
    }

    #kc-locale {
        position: absolute;
        width: 200px;
        top: 20px;
        right: 20px;
        text-align: right;
        z-index: 9999;
    }

    #kc-logo-wrapper {
        background-size: 100px 21px;
        height: 21px;
        width: 100px;
        margin: 20px 0 0 20px;
    }

}

input:-webkit-autofill {
    background-color: transparent !important;
    background-image:none !important;
    color: white !important;
  }

  input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: transparent !important;
    background-image: none !important;
    color: -internal-light-dark(white, white) !important;
}

#kc-login {
    left: 0px;
    top: 0px;
    position: relative;
    height: 40px;
    width: 100px;
    border-radius: 20px;
}

#saveTOTPBtn, input.btn.btn-primary.btn-block.btn-lg {
    left: 0px;
    top: 0px;
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 20px;
}



#kc-cancel {
    right: 20px;
    top: 0px;
    position: absolute;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: #31D08C !important;
}


#username1, #password1 {
    width: 100%;
    border-radius: 20px !important;
    background-color: transparent;
    border: 1px solid #848FFF;
    color: #ffffff;
    padding: 7px 10px 7px 15px;
    font-weight: bold;
    border: 1px solid #848FFF;
}

#totp,#otp ,#password-new, #password-confirm{
    width: 100%;
    border-radius: 20px !important;
    background-color: transparent;
    border: 1px solid #848FFF;
    color: #ffffff;
    padding: 18px 10px 18px 15px;
    font-weight: bold;
    border: 1px solid #848FFF;
}

#username,
#password,#userLabel,label[for='userLabel'] {
    display: none !important;
}

#username1 {
    border: 1px solid #848FFF;
}

#login {
    width: 100%;
    border-radius: 20px !important;
    background-color: transparent;
    border: 1px solid white;
    color: #899BFF;
    padding: 8px 10px 8px 15px;
    font-weight: 900;
    border: 1px solid #848FFF;
}

#togglePassword {
    float: right;
    margin-right: 25px;
    margin-top: -24px;
    position: relative;
    z-index: 2;
    color: #ffffff;
    cursor: pointer;
}

input:focus {
    outline: none;
}

#signinSymbol {
    float: left;
    margin-left: 77px;
    margin-top: -29px;
    position: relative;
    z-index: 2;
    color: #899BFF;
    cursor: pointer;
}

#signinSymbolWithInput {
    float: left;
    margin-left: 77px;
    margin-top: -29px;
    position: relative;
    z-index: 2;
    color: #899BFF;
    cursor: pointer;
    display: none;
}

.backImg {
    top: -60px !important;
    right: 0px !important;
    position: absolute;
}

.backImg img {
    background-size: cover;
    width:780px;
    height: 600px;
}

::-webkit-input-placeholder { /* Edge */
    color: #899BFF;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: #899BFF;
  }
  
  ::placeholder {
    color: #899BFF;
  }

  #kc-passwd-update-form{
      margin-top: 15px;
  }

@media (min-height: 646px) {
    #kc-container-wrapper {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    #kc-container-wrapper {
        padding-top: 50px;
        top: 20%;
    }
}


#kc-page-title{
    display: none;
}

.login-pf body, .background{
    background: url('../img/Group.svg') no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    height: 100% !important;
    width: 100% !important;  
    font-family: 'Noto Sans', sans-serif !important;
}

.card-pf {
    margin-left: 80px !important;
    width: 316px !important;
    background: linear-gradient(125deg, #4e22ee 10%, #6b6df1 90%);
    opacity: 0.9;
    border-radius: 16px;
    color: #fff;
    padding: 20px 40px 30px 40px !important;
}

label{
    color: #ffffff;
}

#mode-manual{
    color: #42edf3;
}
#kc-totp-settings li p{
    color: antiquewhite;
}


label[for="username"], label[for="password"],#kc-login{
    display: none;
}

label[for="totp"]{
    visibility: hidden;
    position: relative;
}

label[for="totp"]:after{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Enter OTP";
}

@media (max-width: 1710px){
    .backImg {
        top: -50px !important;
        right: 0px;
        position: absolute;
    }
    .backImg img {
        width:890px !important;
        height: 740px !important;
    }
}

@media (max-width: 1520px){
    .backImg {
        top: -50px !important;
        right: 0px;
        position: absolute;
    }
    .backImg img {
        width:800px !important;
        height: 630px !important;
    }
}

@media (max-width: 1360px){
    .backImg {
        top: -50px !important;
        right: 0px;
        position: absolute;
    }
    .backImg img {
        width:790px !important;
        height: 630px !important;
    }
}

@media (max-width: 1250px){
    .backImg {
        top: -50px !important;
        right: 0px;
        position: absolute;
    }
    .backImg img {
        width:700px !important;
        height: 560px !important;
    }
}

@media (max-width: 1125px){
    .backImg {
        top: -30px !important;
        right: 0px;
        position: absolute;
    }
    .backImg img {
        width:590px !important;
        height: 500px !important;
    }
}

@media (max-width: 1070px){
    .backImg {
        top: 0px !important;
        right: 0px;
        position: absolute;
    }
    .backImg img {
        width:590px !important;
        height: 460px !important;
    }
}

@media (max-width: 1010px){
    .backImg {
        top: 0px;
        right: 0px;
        position: absolute;
    }
    .backImg img {
        width:560px !important;
    }
}

@media (max-width: 991px){
    .backImg {
        top: px;
        right: 0px;
        position: absolute;
    }
    .backImg img {
        display: none !important;
        width: 0px;
        height: 0px;
    }
    .infoText{
        padding: 20px;
        width: 60%;
        margin: 0px auto !important;
    }
    
    .card-pf{
        margin: 0px auto !important;
        width: 316px !important;
        background: linear-gradient(125deg, #4e22ee 10%, #6b6df1 90%);
        opacity: 0.9;
        border-radius: 16px;
        color: #fff;
        padding: 20px 40px 30px 40px !important;
    }
    .logoText{
        margin-left: 0px !important;
        text-align: center !important;
    }
    
}

    /*tablet*/
@media (max-width: 850px) {
        .card-pf{
            margin: 0px auto !important;
            width: 316px !important;
            background: linear-gradient(125deg, #4e22ee 10%, #6b6df1 90%);
            opacity: 0.9;
            border-radius: 16px;
            color: #fff;
            padding: 20px 40px 30px 40px !important;
        }
        .backImg img {
            display: none;
        }
  
        .infoText{
            padding: 20px;
            width: 60%;
            margin: 0px auto !important;
        }
        
    }

    @media (max-width: 767px) {
        .card-pf{
            margin: 0px auto !important;
            width: 316px !important;
            background: linear-gradient(125deg, #4e22ee 10%, #6b6df1 90%);
            opacity: 0.9;
            border-radius: 16px;
            color: #fff;
            padding: 20px 40px 30px 40px !important;
        }
          
    
        .infoText{
            margin-top: 20px;
            padding: 20px;
            width: 100% !important;
            margin: 0px auto !important;
        }
        #signinSymbol{
            float: left;
            margin-left: 77px;
            margin-top: -29px;
            position: relative;
            z-index: 2;
            color: white;
            cursor: pointer;
        }
        .logo{
            margin-left: 0px; 
            padding: 20px 0px 0px 0px;
        }

        #username, #password {
            display: none !important;
        }
    }    

.login-pf-page .login-pf-signup {
  font-size: 15px;
  color: #72767b;
}


.infoText{
    margin-left :80px; 
    width : 80%;
}

#kc-content-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .login-pf-page .login-pf-social-section:first-of-type {
    padding-right: 39px;
    border-right: 1px solid #d1d1d1;
    margin-right: -1px;
  }
  .login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 40px;
  }
  .login-pf-page .login-pf-social-section .login-pf-social-link:last-of-type {
    margin-bottom: 0;
  }
}

.login-pf-page .login-pf-social-link {
  margin-bottom: 25px;
}
.login-pf-page .login-pf-social-link a {
  padding: 2px 0;
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
    margin-top: 0;
}

#kc-cancel{
    height: 40px;
    border-radius: 20px;
    background-color: #f75c69 !important;
}
.control-label {
    color: white;
}

.container i {
    margin-left: -30px;
    cursor: pointer;
}
