body {
    text-align: center;
    background-color: #222;
    color: #fff;
    margin-top: 50px;
  }
  body .dropdown-menu {
    border-radius: 0;
  }
  body .multiselect-native-select {
    position: relative;
  }
  body .multiselect-native-select select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    left: 50%;
    top: 30px;
  }
  body .multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  body .multiselect-container .input-group {
    margin: 5px;
  }
  body .multiselect-container li {
    padding: 0;
  }
  body .multiselect-container li .multiselect-all label {
    font-weight: 700;
  }
  body .multiselect-container li a {
    padding: 0;
  }
  body .multiselect-container li a label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px;
  }
  body .multiselect-container li a label input[type="checkbox"] {
    margin-bottom: 5px;
  }
  body .multiselect-container li a label.radio {
    margin: 0;
  }
  body .multiselect-container li a label.checkbox {
    margin: 0;
  }
  body .multiselect-container li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700;
  }
  body .multiselect-container li.multiselect-group-clickable label {
    cursor: pointer;
  }
  body .btn-group .btn-group .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  body .form-inline .multiselect-container label.checkbox {
    padding: 3px 20px 3px 40px;
  }
  body .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
  }
  body .form-inline .multiselect-container li a label.checkbox input[type="checkbox"] {
    margin-left: -20px;
    margin-right: 0;
  }
  body .form-inline .multiselect-container li a label.radio input[type="radio"] {
    margin-left: -20px;
    margin-right: 0;
  }
  body .btn {
    border-radius: 0;
    padding: 10px 0;
  }
  body .btn-primary {
    background-color: #ff0000;
    border: none;
    border-radius: 0;
    padding: 11px 15px;
    text-transform: uppercase;
  }

  #dist, #block, #cluster, #school {
    color: #284d8a;font-size: 18px !important; line-height: 1.2em; margin-top: 5px;
 }

 #timePeriod, #district, #block.select-control, #cluster.select-control {
    padding: 5px;color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);
 }

 .report-subtitle {
    text-align: justify; font-size: 11px;
 }

 @media only screen and (min-width: 2560px) {
    #dist, #block, #cluster, #school {
        font-size: 2.5rem !important;
    }

    #timePeriod, #district, #block.select-control, #cluster.select-control {
        padding: 15px !important;
        font-size: 1.5rem !important;
    }

    #download {
        margin: 5px 0px 0px 24px !important;
    }

    #download, #home {
        font-size: 3rem !important;
    }

    ::ng-deep .page-item .page-link, ::ng-deep .page-item .page-link.active {
        padding: 8px 16px !important;
        font-size: 2rem !important;
    }

    .report-subtitle {
      font-size: 1rem !important;
    }

    #container {
      height: 79vh !important;
    }
 }

 @media only screen and (min-width: 3840px) {
    #dist, #block, #cluster, #school {
        font-size: 3.3rem !important;
    }

    #download {
        margin: 5px 0px 0px 24px !important;
    }

    #download, #home {
        font-size: 3.5rem !important;
    }

    #timePeriod, #district, #block.select-control, #cluster.select-control {
        padding: 15px !important;
        font-size: 1.8rem !important;
    }

    ::ng-deep .page-item .page-link, ::ng-deep .page-item .page-link.active {
        padding: 8px 16px !important;
        font-size: 2.5rem !important;
    }

    .report-subtitle {
      font-size: 1.5rem !important;
    }

    #container {
      height: 77vh !important;
    }
 }