/***
    css for multi select drop down
**/
.btn-secondary{
    background-color: rgb(152, 160, 163);
    padding: 0px 0px 0px 5px;
    cursor: pointer;
    width: 300px;
    text-align: left;
    border-radius: 4px;
    color: white;
    margin-right: 5px;
}
.btn-secondary em{
    float:right;
}
.drop-show {
    border-radius: 4px;
    padding: 5px;
    width: 600px auto;
    background-color: rgb(152, 160, 163);
    border: 1px solid rgb(152, 160, 163);
    color: white;
    position: absolute;
    z-index: 100;
    -webkit-box-shadow: 0 6px 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 6px 10px rgba(0,0,0,.15);
    box-shadow: 0 6px 10px rgba(0,0,0,.15);
    /* margin-left: 2px; */
}
.drop-show label{
    display:block;
    font-size:11px;
    cursor: pointer;
}
.drop-show label input{
    vertical-align: top;
}
.drop-show label span{
    display:inline-block;
}

@media only screen and (min-width: 2560px) {
    .btn-primary {
        padding: 12px !important;
        font-size: 1.5rem !important;
    }
    
    .btn-secondary {
        padding: 12px !important;
        width: 500px;
    }

    .btn-secondary span {
        font-size: 1.5rem !important;
    }

    .drop-show #div1 {
        height: 300px !important;
    }

    .drop-show label {
        font-size: 1.5rem;
    }

    .drop-show label input[type="checkbox"] {
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media only screen and (min-width: 3840px) {
    .btn-primary {
        padding: 10px !important;
        font-size: 1.8rem !important;
    }

    .btn-secondary {
        padding: 10px !important;
        width: 500px;
    }

    .btn-secondary span {
        font-size: 1.8rem !important;
    }

    .drop-show #div1 {
        height: 300px !important;
    }

    .drop-show label {
        font-size: 1.9rem;
    }

    .drop-show label input[type="checkbox"] {
        width: 2.4rem;
        height: 2.4rem;
    }
}
