<div class="container-fluid" style="background-color:  rgb(245, 245, 245);; height: 100%;">
    <div class="row">
        <mat-toolbar color="primary" style="height: 35px; background-color: rgb(230, 230, 230);">
            <img src="../../assets/dashboard.png" alt="" height="30px" width="90px">
            <span style="flex: 1 1 auto;"></span>
            <span id="logout" class="headerBtn" style="padding: 1.5px; cursor: pointer; font-size: 13px;"
                (click)="logout()">
                <img src="../../assets/logout.png" height="20px" width="26px" alt=""><strong
                    style="color:  rgb(98, 150, 209);">
                    Logout</strong>
            </span>
        </mat-toolbar>
    </div>
    <div class="row" style="margin-top: 10%;">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <div class="row">
                <button id="cQb_dhsbrd" class="btn btn-deafult"
                    style="width: 100%; border: 1px solid gray; color: #284d8a" [routerLink]="['/dashboard']">cQube
                    Dashboard</button>
            </div>
            <div class="row" style="margin-top: 10%;">
                <a type="button" id="admin_console" href="{{adminUrl}}/#/admin-dashboard" class="btn btn-deafult"
                    style="width: 100%;   border: 1px solid gray;color: #284d8a">
                    Admin Console
                </a>
            </div>
        </div>
    </div>
</div>

<div id="spinner" style="display: none;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>