  .headerBtn{
    color: #24223e;
  }

  .headerBtn:hover {
    transition: transform .1s;
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12); 
    color: rgb(66, 148, 241);
  }