<div class="container-fluid" style="background-color:  rgb(245, 245, 245); height: 100%;">
    <div class="row">
        <mat-toolbar id="header" color="primary" style="background-color: rgb(245, 245, 245);">
            <img src="../../assets/dashboard.png" alt="">
            <span style="flex: 1 1 auto;"></span>
            <span id="logout" class="headerBtn" (click)="logout()">
                <em class="fa fa-sign-out fa-rotate-180" style="font-size: 20px;"></em><strong>
                    Logout</strong>
            </span>
        </mat-toolbar>
    </div>
    <div class="row" class="outer">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="cQb_dhsbrd_outer">
                        <button id="cQb_dhsbrd" class="btn btn-deafult" [routerLink]="['/dashboard']">cQube
                            Dashboard</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="admin_console_outer">
                        <a type="button" id="admin_console" href="{{adminUrl}}/#/admin-dashboard"
                            class="btn btn-deafult">
                            Admin Console
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="spinner" style="display: none;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>