<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <p
                style="text-align: left; color: #284d8a; background-color:#fff; font-size: 24px; line-height: 1em; margin-top: 5px;">
                {{title}}
                Attendance Report </p>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12" id="spinner">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="spinner-border text-secondary"
                                    style="height: 20px; width: 20px; font-size: 20px; margin: 3% 0% 0% 0%; float: left;"
                                    role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <span style="color: green; float: left; margin-top: 1%;">Please Wait...</span>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger btn-sm" (click)="logout()" style="float: right; margin-top: 5px; font-family: Arial;">
                        <span class="glyphicon glyphicon-log-out"></span><b>Logout</b> </button>
                    <button id="districtWise" class="btn btn-primary"
                        style="font-size: 11px; width: 60px; background-color: #0549dd; float: right;margin: 5px 10px 0px 0px;"
                        (click)="districtWise()">Home</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true"
                (mapClick)="mapClicked($event)" [fullscreenControl]='true' [styles]="styles">

                <agm-marker *ngFor="let m of markers; let i = index"
                    (markerClick)="clickedMarker([m.label, m.id, m.lat, m.lng],infowindow )" [latitude]="m.lat"
                    [longitude]="m.lng" [iconUrl]="m.icon" [markerDraggable]="m.draggable"
                    (dragEnd)="markerDragEnd(m, $event)" [agmFitBounds]="true" (mouseOver)="onMouseOver(m, infowindow)"
                    (mouseOut)="hideInfo(m)">

                    <agm-info-window [disableAutoPan]="false" #infowindow>
                        <div *ngIf="dist" style="width: 150px;">
                            Attend. %age: <span>{{m.label}}</span><br>
                            dist: <span>{{m.id}}</span>
                        </div>
                        <div *ngIf="blok" style="width: 150px;">
                            Attend. %age: <span>{{m.label}}</span><br>
                            dist: <span>{{m.dist}}</span><br>
                            block: <span>{{m.id}}</span>
                        </div>
                        <div *ngIf="clust" style="width: 150px;">
                            Attend. %age: <span>{{m.label}}</span><br>
                            dist: <span>{{m.dist}}</span><br>
                            block: <span>{{m.blockId}}</span><br>
                            cluster: <span>{{m.id}}</span>
                        </div>
                        <div *ngIf="skul" style="width: 160px; height: 80px;">
                            Attend. %age: <span>{{m.label}}</span><br>
                            dist: <span>{{m.dist}}</span><br>
                            block: <span>{{m.blockId}}</span><br>
                            cluster: <span>{{m.clusterId}}</span><br>
                            school: <span>{{m.id}}</span>
                        </div>
                    </agm-info-window>

                </agm-marker>
            </agm-map>
        </div>
    </div>
</div>