<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <p
                style="text-align: left; color: #284d8a; background-color:#fff; font-size: 24px; line-height: 1em; margin-top: 5px;">
                Attendance Report for {{title}}: {{titleName}}</p>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-7">
                    <div class="col-sm-12" id="spinner">

                        <div class="spinner-border text-secondary"
                            style="height: 20px; width: 20px; font-size: 20px; margin: 1% 5% 0% 0%; float: left;"
                            role="status">
                            <span class="sr-only">Loading...</span>
                        </div>

                        <span style="color: green; float: left; margin-top: 0.5%;">Please Wait...</span>

                    </div>
                    <p id="errMsg" style="display: none; text-align: center; margin-top: 1%"></p>
                    
                </div>
                <div class="col-sm-5">
                    <button class="btn btn-danger btn-sm" (click)="logout()"
                        style="float: right; margin-top: 5px; font-family: Arial; background-color: rgb(221, 127, 127);">
                        <span class="glyphicon glyphicon-log-out"></span><b>Logout</b> </button>
                    <button id="districtWise" class="btn btn-secondary"
                        style="font-size: 11px; width: 60px;  float: right;margin: 5px 10px 0px 0px;"
                        (click)="districtWise()">Home</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-secondary"
                style="font-size: 12px; width: 70px; float: left;margin: 0px 10px 5px 0px;"
                (click)="blockWise()">&nbsp;<b>Blocks</b> </button>
            <button class="btn btn-secondary"
                style="font-size: 12px; width: 70px; float: left;margin: 0px 10px 5px 0px;"
                (click)="clusterWise()">&nbsp;<b>Clusters</b> </button>
            <button class="btn btn-secondary" style="font-size: 12px; width: 70px; float: left;margin: 0px 0px 5px 0px;"
                (click)="schoolWise()">&nbsp;<b>Schools</b> </button>
        </div>
        <div class="col-sm-8">
            <!-- <div class="col-sm-4"> -->
            <select
                style="margin-right: 10px; padding: 6.5px; color: white; border-radius: 4px; font-size: 12px; font-weight: bold; background-color: rgb(72, 183, 228);"
                [(ngModel)]="myDistrict" name="myDistrict" (change)="myDistData(myDistrict)">
                <option [value]="myDistrict" disabled selected="selected">Choose a District</option>
                <option *ngFor="let dist of districtsNames" [(ngValue)]="dist">
                    {{dist.name}}
                </option>
            </select>
            <!-- </div>
            <div class="col-sm-4"> -->
            <select [hidden]="blockHidden"
                style="margin-right: 10px; padding: 6.5px; color: white; border-radius: 4px; font-size: 12px; font-weight: bold; background-color: rgb(72, 183, 228);"
                [(ngModel)]="myBlock" name="myBlock" (change)="myBlockData(myBlock)">
                <option [value]="myBlock" disabled selected="selected">Choose a Block</option>
                <option *ngFor="let block of blocksNames" [(ngValue)]="block">
                    {{block.name}}
                </option>
            </select>
            <!-- </div>
            <div class="col-sm-4"> -->
            <select [hidden]="clusterHidden"
                style="margin-right: 10px; padding: 6.5px; color: white; border-radius: 4px; font-size: 12px; font-weight: bold; background-color: rgb(72, 183, 228);"
                [(ngModel)]="myCluster" name="myCluster" (change)="myClusterData(myCluster)">
                <option [value]="myCluster" disabled selected="selected">Choose a Cluster</option>
                <option *ngFor="let cluster of clusterNames" [(ngValue)]="cluster">
                    {{cluster.name}}
                </option>
            </select>
            <!-- </div> -->
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="true"
                [fullscreenControl]='true' [styles]="styles">

                <agm-marker *ngFor="let m of markers; let i = index"
                    (markerClick)="clickedMarker([m.label, m.name, m.id, m.lat, m.lng] )" [latitude]="m.lat"
                    [longitude]="m.lng" [iconUrl]="m.icon" [agmFitBounds]="true"
                    (mouseOver)="onMouseOver(m, infowindow)" (mouseOut)="hideInfo(m)">

                    <agm-info-window [disableAutoPan]="false" #infowindow>
                        <div *ngIf="dist">
                            Attendance: <span>{{m.label | slice:0:4}} %</span><br>
                            District: <span>{{m.name}}</span>
                        </div>
                        <div *ngIf="blok">
                            Attendance: <span>{{m.label | slice:0:4}} %</span><br>
                            District: <span>{{m.dist}}</span><br>
                            Block: <span>{{m.name}}</span>
                        </div>
                        <div *ngIf="clust">
                            Attendance: <span>{{m.label | slice:0:4}} %</span><br>
                            District: <span>{{m.dist}}</span><br>
                            Block: <span>{{m.blockId}}</span><br>
                            Cluster(CRC): <span>{{m.name}}</span>
                        </div>
                        <div *ngIf="skul">
                            Attendance: <span>{{m.label | slice:0:4}} %</span><br>
                            District: <span>{{m.dist}}</span><br>
                            Block: <span>{{m.blockId}}</span><br>
                            Cluster(CRC): <span>{{m.clusterId}}</span><br>
                            School: <span>{{m.name}}</span>
                        </div>

                    </agm-info-window>

                </agm-marker>
            </agm-map>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span>Number of students: {{studentCount}}</span>
        </div>
        <div class="col-sm-4">
            <span>Date range: {{dateRange}}</span>
        </div>
    </div>            
</div>