<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 style="float: left; color: #284d8a; " id="head">S3 Files Download: </h4>
            <p style="float: right; margin-right: 2%;" id="err">{{err}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <select id="choose_dist"
                style="margin-right: 10px; padding: 3px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: gray"
                [(ngModel)]="bucketName" name="bucketName" (change)="listFiles()">
                <option [value]="bucketName" disabled selected="selected" style="color: white;">Choose a bucket
                </option>
                <option *ngFor="let bucket of listBucket" [(ngValue)]="bucket.Name"
                    style="font-family: Arial; font-size: 11px;">
                    {{bucket.Name}}
                </option>
            </select>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" [hidden]="fileHidden">
            <div id="files" style="overflow-x:auto; height: 58vh; width: 100%; margin-top: 2%;">
                <table #DataTable class="table table-striped " id="table" style="text-align: center; ">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>File Names</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr *ngFor="let file of fileNames; let i = index">
                            <td><input type="radio" [(ngModel)]="selectedFile" value="{{file.fileName}}"
                                    (change)="checkedList()"></td>
                            <td>{{file.fileName}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <button type="submit" id="btn" class="btn btn-primary" disabled style="margin-top: 2%;float: right;"
                (click)="onSubmit()">Download File</button>
        </div>
    </div>
</div>
<div id="spinner" style="display: block;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>