#files {
    border: 1px solid rgb(214, 206, 206);
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
  }

  table tr th {
    border: 2px solid rgb(201, 197, 197);
    background-color: rgb(212, 212, 212);
    color: #3553d8;
  }

  table tr td {
    border: .1px solid rgb(201, 197, 197);
    border-collapse: collapse;
  }