<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 id="head" style=" color: #284d8a;text-align: center;">Summary Statistics </h1>
            <p id="err">{{err}}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 style="color: #284d8a">Student Attendance Summary:</h2>
            <div style="border: 1px solid gray">
                <table #DataTable id="table1" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <h2 style="color: #284d8a">Semester Report Summary:</h2>
            <div style="border: 1px solid gray">
                <table #DataTable id="table2" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <h2 style="color: #284d8a">CRC Report Summary:</h2>
            <div style="border: 1px solid gray">
                <table #DataTable id="table3" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
        </div>
    </div>
</div>
<div id="spinner" style="display: none;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>