<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center; margin: 20px 0px 30px 0px; color: #284d8a;">Create User</h2>
            <p class="validation-message">{{err}}</p>
            <p id="success"
                style="background-color: green;color: white; padding: 5px 0px 5px 0px;border-radius: 5px; display: none; text-align: center;">
                {{msg}}</p>
            <form class="user" #formData="ngForm" (ngSubmit)="formData.valid && onSubmit(formData.value)"
                style="padding: 0px 25px 0px 25px;">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" style="margin-bottom: 35px;">
                            <label for="firstname" style="color: blue; font-family: Arial;">Enter your first
                                name</label>

                            <input type="text" #firstname="ngModel" [(ngModel)]="logData.firstname"
                                class="form-control form-control-user" name="firstname" required
                                [ngClass]="{'invalid-textbox' :formData.submitted && !firstname.valid }">
                            <div *ngIf="formData.submitted && firstname?.errors">
                                <label *ngIf="firstname.errors.required" class="validation-message">This
                                    field is required</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 35px;">
                                    <label for="gender" style="color: blue; font-family: Arial;">Enter your
                                        gender</label><br>

                                    <input type="radio" #gender="ngModel" [(ngModel)]="logData.gender" value="M"
                                        name="gender"
                                        [ngClass]="{'invalid-textbox' :formData.submitted && !gender.valid }">Male
                                    <input type="radio" #gender="ngModel" [(ngModel)]="logData.gender" value="F"
                                        name="gender" required
                                        [ngClass]="{'invalid-textbox' :formData.submitted && !gender.valid }">Female
                                    <div *ngIf="formData.submitted && gender?.errors">
                                        <label *ngIf="gender.errors.required" class="validation-message">This
                                            field is required</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 35px;">
                                    <label for="roleid" style="color: blue; font-family: Arial;">Select the role
                                        id</label><br>
                                    <select class="dwnld" required
                                        style="padding: 9px;width: 100%; color: rgb(2, 2, 2); border-radius: 4px;border: 1px solid rgb(199, 196, 196); margin: 0px 0px 5px 0px; font-size: 13px; background-color: rgb(255, 255, 255);"
                                        #role="ngModel" [(ngModel)]="logData.roleid" name="roleid">
                                        <option [value]="roleid" disabled selected="selected"> select role id
                                        </option>
                                        <option *ngFor="let a of roleIds" [(ngValue)]="a">
                                            {{a}}
                                        </option>
                                    </select>
                                    <div *ngIf="formData.submitted && role?.errors">
                                        <label *ngIf="role.errors.required" class="validation-message">This
                                            field is required</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom: 35px;">
                            <label for="date" style="color: blue; font-family: Arial;">Enter the
                                user_validity_start_date</label>
                            <input type="date" name="start_date" class="form-control form-control-user textbox-n"
                                #start_date="ngModel" (change)="test()" min="{{minDate}}"
                                [(ngModel)]="logData.start_date" required
                                [ngClass]="{'invalid-textbox' :formData.submitted && !start_date.valid }">
                            <div *ngIf="formData.submitted && start_date?.errors">
                                <label *ngIf="start_date.errors.required" class="validation-message">This
                                    field is required</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" style="margin-bottom: 35px;">
                            <label for="middlename" style="color: blue; font-family: Arial;">Enter your middle
                                name</label>
                            <input type="text" #middlename="ngModel" [(ngModel)]="logData.middlename"
                                class="form-control form-control-user" name="middlename"
                                [ngClass]="{'invalid-textbox' :formData.submitted && !middlename.valid }">
                            <div *ngIf="formData.submitted && middlename?.errors">
                                <!-- <label *ngIf="middlename.errors.required" class="validation-message">This
                                    field is required</label> -->
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 35px;">
                            <label for="email" style="color: blue; font-family: Arial;">Enter your email address</label>
                            <input type="text" #email="ngModel" [(ngModel)]="logData.email"
                                class="form-control form-control-user" name="email" aria-describedby="emailHelp"
                                required [pattern]="emailRegex"
                                [ngClass]="{'invalid-textbox' :formData.submitted && !email.valid }">
                            <div *ngIf="formData.submitted && email?.errors">
                                <label *ngIf="email.errors.required" class="validation-message">This field is
                                    required</label>
                                <label *ngIf="email.errors.pattern" class="validation-message">Invalid email
                                    address</label>
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom: 35px;">
                            <label for="date" style="color: blue; font-family: Arial;">Enter the
                                user_validity_end_date</label>
                            <input name="end_date" class="form-control form-control-user textbox-n" type="date"
                                #end_date="ngModel" min="{{maxDate}}" [(ngModel)]="logData.end_date" required
                                [ngClass]="{'invalid-textbox' :formData.submitted && !end_date.valid }">
                            <div *ngIf="formData.submitted && end_date?.errors">
                                <label *ngIf="end_date.errors.required" class="validation-message">This
                                    field is required</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" style="margin-bottom: 35px;">
                            <label for="lastname" style="color: blue; font-family: Arial;">Enter your last name</label>

                            <input type="text" #lastname="ngModel" [(ngModel)]="logData.lastname"
                                class="form-control form-control-user" name="lastname"
                                [ngClass]="{'invalid-textbox' :formData.submitted && !lastname.valid }">
                            <div *ngIf="formData.submitted && lastname?.errors">
                                <!-- <label *ngIf="lastname.errors.required" class="validation-message">This
                                    field is required</label> -->
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 35px;">
                            <label for="Designation" style="color: blue; font-family: Arial;">Enter the user
                                Designation</label>

                            <input type="text" #Designation="ngModel" [(ngModel)]="logData.Designation"
                                class="form-control form-control-user" name="Designation" required
                                [ngClass]="{'invalid-textbox' :formData.submitted && !Designation.valid }">
                            <div *ngIf="formData.submitted && Designation?.errors">
                                <label *ngIf="Designation.errors.required" class="validation-message">This
                                    field is required</label>
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom: 35px;">
                            <label for="password" style="color: blue; font-family: Arial;">Password</label>
                            <input type="password" #cnfpass="ngModel" [(ngModel)]="logData.cnfpass" name="cnfpass"
                                class="form-control form-control-user" minlength="4" required
                                [ngClass]="{'invalid-textbox':formData.submitted && !cnfpass.valid}">
                            <div *ngIf="formData.submitted && cnfpass?.errors">
                                <label *ngIf="cnfpass.errors.required" class="validation-message">This field is
                                    required</label>
                                <label *ngIf="cnfpass.errors.minlength" class="validation-message">Enter atleast
                                    4 characters</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button style="background-color: #0549dd;" class="btn btn-primary btn-user btn-block"
                            type="submit">
                            Create User
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>