export const environment = {
  production: true,
  apiEndpoint: "http://{{ local_ipv4_address }}:3001/api",
  appUrl: "https://{{ api_endpoint }}",
  grafanaEndPoint: "http://{{ local_ipv4_address }}:9000",
  keycloakUrl: "https://{{ api_endpoint }}/auth",
  realm: "{{ realm_name }}",
  clientId: "{{ admin_app_client_id }}"
};
