PORT = 3001
ACCESS_KEY_ID = "{{ s3_access_key }}"
SECRET_ACCESS_KEY  = "{{ s3_secret_key }}"
OUTPUT_BUCKET = "{{ s3_output_bucket }}"
BASE_DIR = "{{ base_dir }}"
BASEURL = "http://{{ local_ipv4_address}}:5000"
EMAIL= "{{ keycloak_adm_user }}@cqube.com"
PASSWORD= "{{ keycloak_adm_passwd }}"

KEYCLOAK_HOST = "https://{{ api_endpoint }}"
KEYCLOAK_REALM = "{{ realm_name }}"
KEYCLOAK_CLIENT= "{{ admin_app_client_id }}"

