<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 id="head" style=" color: #284d8a;text-align: center;">Summary Statistics </h4>
            <p id="err">{{err}}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Student Attendance Summary:</h5>
            <div *ngIf="tableData.length > 0" style="border: 1px solid gray">
                <table #DataTable id="table1" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Semester Report Summary:</h5>
            <div *ngIf="tableData1.length >0 " style="border: 1px solid gray">
                <table #DataTable id="table2" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData1.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">CRC Report Summary:</h5>
            <div *ngIf="tableData2.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table3" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData2.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Infra Report Summary:</h5>
            <div *ngIf="tableData3.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table4" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData3.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Inspection Report Summary:</h5>
            <div *ngIf="tableData4.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table5" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData4.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Static district file Summary:</h5>
            <div *ngIf="tableData5.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table6" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData5.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Static block file Summary:</h5>
            <div *ngIf="tableData6.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table7" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData6.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Static cluster file Summary:</h5>
            <div *ngIf="tableData7.length >0 " style="border: 1px solid gray">
                <table #DataTable id="table8" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData7.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Static school file Summary:</h5>
            <div *ngIf="tableData8.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table9" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData8.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Diksha data Summary:</h5>
            <div *ngIf="tableData9.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table10" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData9.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">UDISE data Summary:</h5>
            <div *ngIf="tableData10.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table11" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData10.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">PAT data Summary:</h5>
            <div *ngIf="tableData11.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table12" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData11.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-12">
            <h5 style="color: #284d8a">Diksha TPD data Summary:</h5>
            <div *ngIf="tableData12.length > 0 " style="border: 1px solid gray">
                <table #DataTable id="table13" class="display nowrap" width="100%"
                    style="font-size: 11px; text-align: center;"></table>
            </div>
            <div *ngIf="tableData12.length === 0 " style="text-align: center; color: red;">
                No Data Available
            </div>
        </div>
    </div>

</div>
<div id="spinner" style="display: block;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>