<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4>Data Replay</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table #DataTable id="table" class="display nowrap" width="100%"
                style="font-size: 12px; text-align: center;">
                <thead>
                    <tr>
                        <th>Data Source</th>
                        <th>Options for Replay</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Student Attendance</td>
                        <td>
                            <div style="margin: 0px auto; width: 350px;">
                                <select class="time" required id="year"
                                    [ngStyle]="{float: months.length > 0 ? 'left' : ''}"
                                    style="padding: 9px;width: 120px;margin: 0px auto; color: rgb(2, 2, 2); border-radius: 4px;border: 1px solid rgb(199, 196, 196); margin: 0px 0px 2px 0px; font-size: 13px; background-color: rgb(255, 255, 255);"
                                    (change)="onSelectYear($event.target.value)">
                                    <option *ngFor="let year of years; let i = index;" [value]="year.value"
                                        [selected]="i==0">
                                        {{year.value}}</option>
                                </select>
                                <app-multi-select *ngIf="months1.length > 0" #multiSelect
                                    style="float: left; margin-left: 30px;margin-top: 1px; width: 120px;"
                                    [list]="months1" [checkedList]="selectedMonths"
                                    (shareCheckedList)="shareCheckedList($event)">
                                </app-multi-select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Teacher Attendance</td>
                        <td>
                            <div style="margin: 0px auto; width: 350px;">
                                <select class="time" required id="year"
                                    [ngStyle]="{float: months.length > 0 ? 'left' : ''}"
                                    style="padding: 9px;width: 120px;margin: 0px auto; color: rgb(2, 2, 2); border-radius: 4px;border: 1px solid rgb(199, 196, 196); margin: 0px 0px 2px 0px; font-size: 13px; background-color: rgb(255, 255, 255);"
                                    (change)="onSelectYear($event.target.value)">
                                    <option *ngFor="let year of years; let i = index;" [value]="year.value"
                                        [selected]="i==0">
                                        {{year.value}}</option>
                                </select>
                                <app-multi-select *ngIf="months.length > 0" #multiSelect
                                    style="float: left; margin-left: 30px;margin-top: 1px; width: 120px;"
                                    [list]="months" [checkedList]="selectedMonths"
                                    (shareCheckedList)="shareCheckedList($event)">
                                </app-multi-select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>CRC</td>
                        <td>
                            <div style="margin: 0px auto; width: 500px;">
                                <div style="float: left;">
                                    <span style="float: left;margin: 8px 5px 0px 0px;">From Date:</span> <input
                                        type="text" (bsValueChange)="onSelectDate()"
                                        style="width:150px; margin:0px auto; margin-left: 2px; float: left;"
                                        placeholder="Select from date" class="form-control" #dp="bsDatepicker"
                                        bsDatepicker [(ngModel)]="fromDate" [bsConfig]="'DD/MM'">
                                </div>
                                <div style="float: left; margin-left: 30px;">
                                    <span style="float: left;margin: 8px 5px 0px 0px;">To Date:</span> <input
                                        type="text" (bsValueChange)="onSelectDate()"
                                        style="width:150px; margin:0px auto; margin-left: 2px; float: left;"
                                        placeholder="Select to date" class="form-control" #dp="bsDatepicker"
                                        bsDatepicker [(ngModel)]="toDate" [bsConfig]="'DD/MM'">
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>