.dataTables_scroll, .dataTables_scrollHead{
    font-size: 11px; 
    text-align: center; 
    width: 100%; 
    border: 1px solid gray;
  }
  
  @media screen and (min-width: 1920px){
    .dataTables_scroll, .dataTables_scrollHead{
      font-size: 16px; 
      text-align: center; 
      width: 100%; 
      border: 1px solid gray;
    }
  }
  
  @media screen and (min-width: 2500px){
    .dataTables_scroll, .dataTables_scrollHead{
      font-size: 22px; 
      text-align: center; 
      width: 100%; 
      border: 1px solid gray;
    }
  }
  
  @media screen and (min-width: 3820px) {
    .dataTables_scroll, .dataTables_scrollHead{
      font-size: 26px !important; 
      text-align: center; 
      width: 100%; 
      border: 1px solid gray;
    }
  }