{
        "revision": {
            "clientId": "value",
            "version": 0,
            "lastModifier": "Admin"
        },
        "component":{
                "name":"student_attendance_parameters",

        "parameters":[
            {
                "parameter":{"name":"base_dir",
                        "value":"{{ base_dir }}"
                            }
            },
            {
                "parameter":{"name":"s3_output_bucket",
                        "value":"{{ s3_output_bucket }}"
                            }
            },
	    {
                "parameter":{"name":"db_user",
                        "value":"{{ db_user }}"
                            }
            },
            {
                "parameter":{"name":"db_name",
                        "value":"{{ db_name }}"
                            }
            },
            {
                "parameter":{"name":"db_driver_dir",
                        "value":"{{ db_driver_dir }}"
                            }
            },
            {
                "parameter":{"name":"db_driver_class_name",
                        "value":"{{ db_driver_class_name }}"
                            }
            },
            {
                "parameter":{"name":"db_connection_url",
                        "value":"{{ db_connection_url }}"
                            }
            },
	    {
                "parameter":{"name":"s3_access_key",
                "sensitive": true,
                        "value":"{{ s3_access_key }}"
                            }
            },
            {
                "parameter":{"name":"s3_secret_key",
                "sensitive": true,
                        "value":"{{ s3_secret_key }}"
                            }
            },
            {
                "parameter":{"name":"db_password",
                "sensitive": true,
                        "value":"{{ db_password }}"
                            }
            },
            {
                "parameter":{"name":"stud_att_staging_1_tb_name",
                        "value":""
                            }
            },
            {
                "parameter":{"name":"student_stg_1_to_stg_2_qry",
                        "value":""
                            }
            },
            {
                "parameter":{"name":"student_att_stg_2_to_temp_qry",
                        "value":""
                            }
            },
            {
                "parameter":{"name":"stud_att_delete_stg_1_table",
                        "value":""
                            }
            },
            {
                "parameter":{"name":"stud_att_delete_stg_2_table",
                        "value":""
                            }
            },
            {
                "parameter":{"name":"stud_att_delete_null_values_qry",
                        "value":""
                            }
            }

        ]

}
}
