{
        "revision": {
            "clientId": "value",
            "version": 0,
            "lastModifier": "Admin"
        },
        "component":{
                "name":"udise_parameters",

        "parameters":[
            {
                "parameter":{"name":"base_dir",
                        "value":"{{ base_dir }}"
                            }
            },
            {
                "parameter":{"name":"s3_output_bucket",
                        "value":"{{ s3_output_bucket }}"
                            }
            },
	    {
                "parameter":{"name":"db_user",
                        "value":"{{ db_user }}"
                            }
            },
	    {
                "parameter":{"name":"db_name",
                        "value":"{{ db_name }}"
                            }
            },
	    {
                "parameter":{"name":"db_driver_dir",
                        "value":"{{ db_driver_dir }}"
                            }
            },
	    {
                "parameter":{"name":"db_driver_class_name",
                        "value":"{{ db_driver_class_name }}"
                            }
            },
	    {
                "parameter":{"name":"db_connection_url",
                        "value":"{{ db_connection_url }}"
                            }
            },
	    {
                "parameter":{"name":"s3_access_key",
                "sensitive": true,
                        "value":"{{ s3_access_key }}"
                            }
            },
            {
                "parameter":{"name":"s3_secret_key",
                "sensitive": true,
                        "value":"{{ s3_secret_key }}"
                            }
            },
            {
                "parameter":{"name":"db_password",
                "sensitive": true,
                        "value":"{{ db_password }}"
                            }
            }



        ]

}
}
