 
  .report-subtitle {
    text-align: justify; font-size: 11px;
  }

  .search-container {
    float: left; margin-top: 5px;
  }

  #dist, #block:not(.select-control), #cluster:not(.select-control), #school:not(.select-control) {
    color: #284d8a;font-size: 18px !important; line-height: 1.2em; margin-top: 5px;
 }

 #year, #month, #grade, #subject, #examDate, #viewBy, #district, #block.select-control, #cluster.select-control {
    margin-right: 10px; padding: 5px;color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);
    margin-top: 0 !important;
 }
  
  @media only screen and (min-width: 2560px) {
    /* table thead tr th{
      font-size: 22px !important;
    } */
    #dist, #block:not(.select-control), #cluster:not(.select-control), #school:not(.select-control) {
        font-size: 2.5rem !important;
    }

    #year, #month, #grade, #subject, #examDate, #viewBy, #district, #block.select-control, #cluster.select-control {
        padding: 15px !important;
        font-size: 1.5rem !important;
        margin-top: 0 !important;
    }
  
    .report-subtitle {
      font-size: 1rem !important;
    }
  
    #download, #home {
      font-size: 3rem !important;
    }
  
    #rawDownload {
      font-size: 1.5rem !important;
    }
  
    #time_range.select-control, #choose_dist.select-control {
      padding: 15px !important;
      font-size: 1.5rem !important;
    }
  
    .search-container {
      font-size: 2rem;
    }
  }
  
  @media only screen and (min-width: 3840px) {
    /* table thead tr th{
      font-size: 30px !important;
    } */
    #dist, #block:not(.select-control), #cluster:not(.select-control), #school:not(.select-control) {
        font-size: 3.3rem !important;
    }

    #year, #month, #grade, #subject, #examDate, #viewBy, #district, #block.select-control, #cluster.select-control {
        padding: 15px !important;
        font-size: 1.8rem !important;
        margin-top: 0 !important;
    }
  
    .report-subtitle {
      font-size: 1.5rem !important;
    }
  
    #download, #home, #rawDownload {
      font-size: 3.5rem !important;
    }
  
    #rawDownload {
      font-size: 2rem !important;
    }
  
    .search-container {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 2560px) {
    .customDataTable .dataTables_wrapper .dataTables_scrollBody {
        max-height: 60vh !important;
        font-size: 22px !important;
    }

    .customDataTable .dataTables_wrapper .dataTables_scrollHead{
        font-size: 22px !important;
    }

    .customDataTable .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .sorting{
        height: 170px !important;
    }
    .customDataTable .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
        min-width: 250px !important;
    }
    .customDataTable .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr th{
        min-width: 50px !important;
    }
    .customDataTable .dataTables_wrapper .dataTables_scrollBody .indicator{
        min-width: 250px !important;
    }
    .page-item.active .page-link{
        background-color: whitesmoke !important;
        color: black !important;
        font-size: 23px;
    }
    .page-link{
        color: black !important;
        font-size: 23px;
    }

    .customDataTable .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
        background-size: 30px 30px !important;
    }
  
}

@media only screen and (min-width: 3840px) {
        .customDataTable .dataTables_wrapper .dataTables_scrollBody {
        max-height: 64vh !important;
        font-size: 30px !important;
    }
    .customDataTable .dataTables_wrapper .dataTables_scrollHead{
        font-size: 30px !important;
    }

    .customDataTable .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .sorting{
        height: 250px !important;
    }
    .customDataTable .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
        width: 350px;
    }
    .customDataTable .dataTables_wrapper .dataTables_scrollBody .indicator{
        min-width: 350px !important;
    }
    .page-item.active .page-link{
        background-color: whitesmoke !important;
        color: black !important;
        font-size: 30px;
    }
    .page-link{
        color: black !important;
        font-size: 30px;
    }
    .customDataTable .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
        background-size: 40px 40px !important;
    }
}

.customDataTable .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .sorting{
    height: 70px;
    padding-left: -10px;
}
.customDataTable .dataTables_wrapper .dataTables_scrollBody {
  font-size: 11px;
}

.customDataTable .dataTables_wrapper .dataTables_scrollHead{
  font-size: 11px;
}


.customDataTable .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
    width: 170px;
}

.customDataTable .dataTables_wrapper .dataTables_scrollBody .indicator{
    min-width: 170px;
}

.customDataTable .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
    background-size: 20px 20px;
}

.customDataTable .dataTables_wrapper .dataTables_scrollBody table tbody tr th, .customDataTable .dataTables_wrapper .dataTables_scrollBody table table.dataTable tbody tr td {
    padding: 0px 0px !important;
}