
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  margin-top: 35px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.outer1 {
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 24px 0 rgba(0,84,254,0.18);
}


.inner-1 {
  margin: 15px 0px 15px 0px;
  height: 90px;
  /* width: 270px; */
  border-radius: 13px;
  /* background: linear-gradient(135deg, #4266FF 0%, #40A6FF 100%); */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.02);
}

.iconDiv {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  background-color: #3257E0;
}


.diksha {
  height: 19px;
  /* width: 51px; */
  color: #20253A;
  font-family: "Noto Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  margin: 0px 0px 20px 0px;
}

.ic-equalizer {
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: 0px;
  margin-top: 0px;
  opacity: 1;
}

.ic-equalizer1 {
  margin-top: 0px;
  height: 30px;
  width: 30px;
  /* margin-left: 0px;
  margin-top: 0px; */
  opacity: 1;
}

.card{
  transition: transform .3s;
  cursor: pointer;
}

.card:hover {
  -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  transform: scale(1.04); 
}

.outer12 {
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 24px 0 rgba(0,84,254,0.18);
}

.views{
  background-color: white; 
  height: 20px;
  margin: 2% 7% 7% 7%;
  width: 85%;
  float: white;
  padding: 2%;
  border-radius: 8px;
}

#views{
  color: rgb(109, 109, 109);
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  font-family: "Noto Sans";
  line-height: .8em;
}
#errViews{
  color: rgb(109, 109, 109);
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  font-family: "Noto Sans";
  line-height: .8em;
}


.card-tasks .card-body .table {
  margin-bottom: 0; }
  .card-tasks .card-body .table > thead > tr > th,
  .card-tasks .card-body .table > tbody > tr > th,
  .card-tasks .card-body .table > tfoot > tr > th,
  .card-tasks .card-body .table > thead > tr > td,
  .card-tasks .card-body .table > tbody > tr > td,
  .card-tasks .card-body .table > tfoot > tr > td {
    padding-top: 0;
    padding-bottom: 0; }


.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  transition: box-shadow 200ms ease, -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1);
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease, -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1); }
  .card .card-body {
    padding: 15px 15px 10px 15px; }
    .card .card-body.table-full-width {
      padding-left: 0;
      padding-right: 0; }
  .card .card-header {
    padding: 15px 15px 0;
    border: 0; }
    .card .card-header:not([data-background-color]) {
      background-color: transparent; }
    .card .card-header .card-title {
      
      margin-top: 10px; }
  .card .map {
    border-radius: 3px; }
    .card .map.map-big {
      height: 400px; }
  .card[data-background-color="orange"] {
    background-color: #51cbce; }
    .card[data-background-color="orange"] .card-header {
      background-color: #51cbce; }
    .card[data-background-color="orange"] .card-footer .stats {
      color: #FFFFFF; }
  .card[data-background-color="red"] {
    background-color: #ef8157; }
  .card[data-background-color="yellow"] {
    background-color: #fbc658; }
  .card[data-background-color="blue"] {
    background-color: #51bcda; }
  .card[data-background-color="green"] {
    background-color: #6bd098; }
  .card .image {
    overflow: hidden;
    height: 200px;
    position: relative; }
  .card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px; }
  .card .numbers {
    font-size: 2em; }
  .card .big-title {
    font-size: 12px;
    text-align: center;
    /* font-weight: 500; */
    padding-bottom: 15px; }
  .card label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A; }
  .card .card-footer {
    background-color: transparent;
    border: 0; }
    .card .card-footer .stats i {
      margin-right: 5px;
      position: relative;
      top: 0px;
      color: #66615B; }
    .card .card-footer .btn {
      margin: 0; }
  .card.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0; }
    .card.card-plain .card-body {
      padding-left: 5px;
      padding-right: 5px; }
    .card.card-plain img {
      border-radius: 12px; }


.card .info-area {
  padding: 40px 0 40px;
  text-align: center;
  position: relative;
  z-index: 2; }

  .card-stats{
    margin-top: 22px;
    background-color:rgb(160, 233, 205);
  }

.card-stats .card-body {
  padding: 15px 15px 0px; }
  .card-stats .card-body .numbers {
    font-size: 12px;
      font-weight: bold;
      line-height: 1.4em; 
      color: rgb(65, 65, 65);
      font-family: "Noto Sans";
    text-align: right;
    font-size: 2em; }
    .card-stats .card-body .numbers p {
      margin-bottom: 0; }
    .card-stats .card-body .numbers .card-category {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.4em; 
    }

.card-stats .card-footer {
  padding: 0px 15px 15px; }
  .card-stats .card-footer .stats {
    color: #9A9A9A; }
  .card-stats .card-footer hr {
    margin-top: 10px;
    margin-bottom: 15px; }

.card-stats .icon-big {
  font-size: 1.8em;
}
  .card-stats .icon-big i {
    line-height: 59px; }