<div class="container-fluid" style="background-color: rgb(245, 245, 245);">
    <div class="container" style="margin-bottom: 10px;">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 diksha">DIKSHA</div>
                </div>
                <div class="row outer1">
                    <div class="col-sm-4">
                        <div class="inner-1 card" [routerLink]="['/home/diksha-chart']">
                            <div class="row">
                                <div class="inner-2">
                                    <img class="ic-equalizer" src="../../assets/ic_trending_up.svg" alt="">
                                </div>
                                <div class="inner-3">
                                    Diksha stack <br> chart
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inner-1 card" [routerLink]="['/home/diksha-column-chart']">
                            <div class="row">
                                <div class="inner-2">
                                    <img class="ic-equalizer" src="../../assets/ic_equalizer.svg" alt="">
                                </div>
                                <div class="inner-3">
                                    Diksha column chart
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inner-1 card" [routerLink]="['/home/diksha-table']">
                            <div class="row">
                                <div class="inner-2">
                                    <img class="ic-equalizer" src="../../assets/ic_grid_on.svg" alt="">
                                </div>
                                <div class="inner-3">
                                    Diksha table report
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 diksha">EXCEPTION-LIST</div>
                    <div class="col-sm-4 diksha" style="margin-left: 4%;">STUDENT PERFORMANCE</div>
                </div>
                <div class="row">
                    <div class="row outer12">
                        <div class="col-sm-6">
                            <div class="inner-12 card" [routerLink]="['/home/sem-exception']"
                                style="background: linear-gradient(135deg, #26B1ED 0%, #54E7FF 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/ic_assignment_24px.svg" alt="">
                                    </div>
                                    <div class="inner-3">
                                        Semester Exception
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inner-12 card" [routerLink]="['/home/download-missing-data']"
                                style="background: linear-gradient(135deg, #26B1ED 0%, #54E7FF 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/ic_cloud_download.svg" alt="">
                                    </div>
                                    <div class="inner-3">
                                        Completion Error
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row outer13">
                        <div class="col-sm-12">
                            <div class="inner-12 card" [routerLink]="['/home/semester-report']"
                                style="background: linear-gradient(135deg, #07A997 0%, #1BC9B4 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/Combined Shape.svg" alt="">
                                    </div>
                                    <div class="inner-3">
                                        Semester Report
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 diksha">ATTENDANCE</div>
                    <div class="col-sm-4 diksha" style="margin-left: 4%;">TELEMETRY DATA</div>
                </div>
                <div class="row">
                    <div class="row outer12">
                        <div class="col-sm-6">
                            <div class="inner-12 card" [routerLink]="['/home/attendance-report']"
                                style="background: linear-gradient(135deg, #FF9456 0%, #FFA67C 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/student-4.svg" alt=""> </div>
                                    <div class="inner-3">
                                        Student Attendance Report
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inner-12 card" [routerLink]="['/home/teacher-attendance']"
                                style="background: linear-gradient(135deg, #FF9456 0%, #FFA67C 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/teacher.svg" alt="">
                                    </div>
                                    <div class="inner-3">
                                        Teacher Attendance Report
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row outer13">
                        <div class="col-sm-12">
                            <div class="inner-12 card" [routerLink]="['/home/telemetry']"
                                style="background: linear-gradient(135deg, #6B76DB 0%, #9E9EF4 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/Group 10.svg" alt="">
                                    </div>
                                    <div class="inner-3">
                                        Telemetry
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 diksha">UDISE</div>
                    <div class="col-sm-4 diksha" style="margin-left: 4%;">SCHOOL MONITORING</div>
                </div>
                <div class="row">
                    <div class="row outer12">
                        <div class="col-sm-6">
                            <div class="inner-12 card"
                                style="background: linear-gradient(135deg, #2CC594 0%, #85E6A6 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/Group 13.svg" alt=""> </div>
                                    <div class="inner-3">
                                        UDISE dashboard
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inner-12 card" [routerLink]="['/home/udise-report']"
                                style="background: linear-gradient(135deg, #2CC594 0%, #85E6A6 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/Group 12.svg" alt="">
                                    </div>
                                    <div class="inner-3">
                                        UDISE report
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row outer13">
                        <div class="col-sm-12">
                            <div class="inner-12 card" [routerLink]="['/home/crc-report']"
                                style="background: linear-gradient(135deg, #FF5F55 0%, #FF9E95 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/Group 11.svg" alt="">
                                    </div>
                                    <div class="inner-3">
                                        CRC report
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 diksha">COMPOSITE</div>
                    <div class="col-sm-5 diksha" style="margin-left: 7%;">PERIODIC EXAM</div>
                </div>
                <div class="row">
                    <div class="row outer12" style="width: 32%;">
                        <div class="col-sm-12">
                            <div class="inner-12 card" [routerLink]="['/home/composit-report']"
                                style="background: linear-gradient(135deg, #3decd5 0%, #a6e4bb 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <!-- <img class="ic-equalizer" src="../../assets/Group 13.svg" alt="">  -->
                                    </div>
                                    <div class="inner-3">
                                        composit-report
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <div class="inner-12 card" [routerLink]="['/home/udise-report']"
                                style="background: linear-gradient(135deg, #2CC594 0%, #85E6A6 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <img class="ic-equalizer" src="../../assets/Group 12.svg" alt="">
                                    </div>
                                    <div class="inner-3">
                                        Periodic-exam
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row outer13">
                        <div class="col-sm-12">
                            <div class="inner-12 card" [routerLink]="['/home/pat-report']"
                                style="background: linear-gradient(135deg, #995c57 0%, #FF9E95 100%);">
                                <div class="row">
                                    <div class="inner-2">
                                        <!-- <img class="ic-equalizer" src="../../assets/Group 11.svg" alt=""> -->
                                    </div>
                                    <div class="inner-3">
                                        Periodic-exam Report
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12 diksha">SCHOOL INFRASTRUCTURE</div>
                </div>
                <div class="row outer-2">
                    <div class="row side-inner-1 card" [routerLink]="['/home/school-infra-map']">
                        <div class="row">
                            <div class="side-inner-2">
                                <img class="ic-equalizer" src="../../assets/ic_location_on.svg" alt="">
                            </div>
                            <div class="side-inner-3">
                                Infrastructure map report
                            </div>
                        </div>
                    </div>
                    <div class="row side-inner-1 card" [routerLink]="['/home/school-infrastructure']">
                        <div class="row">
                            <div class="side-inner-2">
                                <img class="ic-equalizer" src="../../assets/ic_assessment.svg" alt="">
                            </div>
                            <div class="side-inner-3">
                                Infrastructure chart report
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Exception List</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/sem-exception']" class="cards" id="SemExp">
                        <img src="../../assets/sem_exception.png" alt="semExcep" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Semester Exceptions
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/download-missing-data']" class="cards" id="isdata">
                        <img src="../../assets/download_invalid.png" alt="schInvalid" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Completion Error
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color: #284d8a;">School Monitoring</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/crc-report']" class="cards" id="crcr">
                        <img src="../../assets/crcReport.png" alt="crcReport" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            CRC Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <br>
    <div class="row">
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Attendance</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/attendance-report']" class="cards" id="sar">
                        <img src="../../assets/stdAtt.png" alt="studentAttendance" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Student Attendance Report
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/teacher-attendance']" class="cards" id="tar">
                        <img src="../../assets/teacherAtt.png" alt="TeacherAttendance"
                            style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Teacher Attendance Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color: #284d8a;">School Infrastructure</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/school-infra-map']" class="cards" id="imr">
                        <img src="../../assets/infraMap.png" alt="infraMap" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Infrastructure Map Report
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/school-infrastructure']" class="cards" id="icr">
                        <img src="../../assets/schoolInfra.png" alt="schoolInfra" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Infrastructure Chart Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Student Performance</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/semester-report']" class="cards" id="sr">
                        <img src="../../assets/semester.png" alt="semesterReport" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Semester Report
                        </strong>
                    </div>
                </div>

                <div class="col-md-4">
                    <div [routerLink]="['/home/pat-report']" class="cards" id="pat">
                        <img src="../../assets/pat.png" alt="pat-report" style="margin: 2% 0% 3% 0%; "><br>
                        <strong>
                            Periodic Exam Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Diksha</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/diksha-chart']" class="cards" id="dsc">
                        <img src="../../assets/diksha_chart.png" alt="dikshaChart" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Diksha Stack Chart
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/diksha-column-chart']" class="cards" id="dcc">
                        <img src="../../assets/bar_chart.png" alt="dikshaColumn" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Diksha Column Chart
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/diksha-table']" class="cards" id="dtr">
                        <img src="../../assets/table.png" alt="dikshaTable" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Diksha Table Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Telemetry Data</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/telemetry']" class="cards" id="telemData">
                        <img src="../../assets/telemetry.png" alt="telemetry" style="margin: 2% 0% 3% 0%; "><br>
                        <strong>
                            Telemetry
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color: #284d8a;">UDISE</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/udise-report']" class="cards" id="udise">
                        <img src="../../assets/udise.png" alt="udise" style="margin: 2% 0% 3% 0%; "><br>
                        <strong>
                            UDISE Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row"> -->
    <!-- <div class="col-md-6">
            <h5 style="color: #284d8a;">Periodic Exam</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/pat-report']" class="cards" id="pat">
                        <img src="../../assets/pat.png" alt="pat-report" style="margin: 2% 0% 3% 0%; "><br>
                        <strong>
                            Periodic Exam Report
                        </strong>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="col-md-6">
            <h5 style="color: #284d8a;">Composite</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/composit-report']" class="cards" id="composit">
                        <img src="../../assets/composite.png" alt="composit-report" style="margin: 2% 0% 3% 0%; "><br>
                        <strong>
                            Composite Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

    <div id="spinner" style="display: none;">
        <div class="loading">Loading&#8230;</div>
    </div>