.flipcard {
  background-color: transparent;
  position: relative;
  height: 190px;
  perspective: 1000px;
}
.flipcard.v:hover .front, .flipcard.v.flip .front{
  transform: rotateX(180deg);
}
.flipcard.v:hover .back, .flipcard.v.flip .back{
  transform: rotateX(0deg);
}
.flipcard.v .back{
  transform: rotateX(-180deg);
}
.flipcard.h:hover .front, .flipcard.h.flip .front{
  transform: rotateY(180deg);
}
.flipcard.h:hover .back, .flipcard.h.flip .back{
  transform: rotateY(0deg);
}
.flipcard.h .back{
  transform: rotateY(-180deg);
}
.flipcard .front
{
  position:absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: black;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  backface-visibility: hidden;
}

.flipcard .back
{
  position:absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: rgb(255, 254, 254);
  background-color:#3a3b3b;
  /* padding: 10px; */
  backface-visibility: hidden;
}

#text {
  z-index: 100;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 17px;
  left: 20px;
  right:20px;
  top: 20px; 
}