<div class="container">
    <div class="row" style="margin-top: 10%;">
        <div class="col-sm-4">
            <a [routerLink]="['/home/attendance-report']">Student Attendance Report</a>
        </div>
        <div class="col-sm-4">
            <a [routerLink]="['/home/semester-report']">Semester Report</a>
        </div>
        <div class="col-sm-4">
            <a [routerLink]="['/home/school-infrastructure']">Infra Chart Report</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a [routerLink]="['/home/school-infra-map']">Infra Map Report</a>
        </div>
        <div class="col-sm-4">
            <a [routerLink]="['/home/crc-report']">CRC Report</a>
        </div>
        <div class="col-sm-4">
            <a [routerLink]="['/home/teacher-attendance']">Teacher Attendance Report</a>
        </div>
    </div>
</div>