<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Exception List</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/sem-exception']" class="cards" id="SemExp">
                        <img src="../../assets/sem_exception.png" alt="semExcep" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Semester Exceptions
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/download-missing-data']" class="cards" id="isdata">
                        <img src="../../assets/download_invalid.png" alt="schInvalid" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Completion Error
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color: #284d8a;">School Monitoring</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/crc-report']" class="cards" id="crcr">
                        <img src="../../assets/crcReport.png" alt="crcReport" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            CRC Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Attendance</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/attendance-report']" class="cards" id="sar">
                        <img src="../../assets/stdAtt.png" alt="studentAttendance" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Student Attendance Report
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/teacher-attendance']" class="cards" id="tar">
                        <img src="../../assets/teacherAtt.png" alt="TeacherAttendance"
                            style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Teacher Attendance Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color: #284d8a;">School Infrastructure</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/school-infra-map']" class="cards" id="imr">
                        <img src="../../assets/infraMap.png" alt="infraMap" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Infrastructure Map Report
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/school-infrastructure']" class="cards" id="icr">
                        <img src="../../assets/schoolInfra.png" alt="schoolInfra" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Infrastructure Chart Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Student Performance</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/semester-report']" class="cards" id="sr">
                        <img src="../../assets/semester.png" alt="semesterReport" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Semester Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Diksha</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/diksha-chart']" class="cards" id="dsc">
                        <img src="../../assets/diksha_chart.png" alt="dikshaChart" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Diksha Stack Chart
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/diksha-column-chart']" class="cards" id="dcc">
                        <img src="../../assets/bar_chart.png" alt="dikshaColumn" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Diksha Column Chart
                        </strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <div [routerLink]="['/home/diksha-table']" class="cards" id="dtr">
                        <img src="../../assets/table.png" alt="dikshaTable" style="margin: 5% 0% 3% 0%; "><br>
                        <strong>
                            Diksha Table Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <h5 style="color: #284d8a;">Telemetry Data</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/telemetry']" class="cards" id="telemData">
                        <img src="../../assets/telemetry.png" alt="telemetry" style="margin: 2% 0% 3% 0%; "><br>
                        <strong>
                            Telemetry
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color: #284d8a;">UDISE</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/udise-report']" class="cards" id="udise">
                        <img src="../../assets/udise.png" alt="udise" style="margin: 2% 0% 3% 0%; "><br>
                        <strong>
                            UDISE Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <h5 style="color: #284d8a;">PAT</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/pat-report']" class="cards" id="pat">
                        <img src="../../assets/pat.png" alt="pat-report" style="margin: 2% 0% 3% 0%; "><br>
                        <strong>
                            PAT-Report
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <h5 style="color: #284d8a;">Composit</h5>
            <div class="row">
                <div class="col-md-4">
                    <div [routerLink]="['/home/composit-report']" class="cards" id="composit">
                        <img src="../../assets/" alt="composit-report" style="margin: 2% 0% 3% 0%; "><br>
                        <strong>
                            Composit Report 
                        </strong>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div id="spinner" style="display: none;">
    <div class="loading">Loading&#8230;</div>
</div>