template,status
nifi_crc,{% if nifi_crc == true %}1{% endif %}{% if nifi_crc == false %}0{% endif %}{{''}}
nifi_attendance,{% if nifi_attendance == true %}1{% endif %}{% if nifi_attendance == false %}0{% endif %}{{''}}
nifi_semester,{% if nifi_semester == true %}1{% endif %}{% if nifi_semester == false %}0{% endif %}{{''}}
nifi_infra,{% if nifi_infra == true %}1{% endif %}{% if nifi_infra == false %}0{% endif %}{{''}}
nifi_diksha,{% if nifi_diksha == true %}1{% endif %}{% if nifi_diksha == false %}0{% endif %}{{''}}
nifi_telemetry,{% if nifi_telemetry == true %}1{% endif %}{% if nifi_telemetry == false %}0{% endif %}{{''}}
nifi_udise,{% if nifi_udise == true %}1{% endif %}{% if nifi_udise == false %}0{% endif %}{{''}}
nifi_pat,{% if nifi_pat == true %}1{% endif %}{% if nifi_pat == false %}0{% endif %}{{''}}
nifi_composite,{% if nifi_composite == true %}1{% endif %}{% if nifi_composite == false %}0{% endif %}