<div class="container-fluid" style="font-family: Arial; width: 100%;">
    <div class="row">
        <div class="col-sm-7">
            <p id="dist_level"
                style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                School Infrastructure report for: <span (click)="districtWise()"
                    style="cursor: pointer;text-decoration: underline;">Gujarat</span></p>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-6">
                    <p id="errMsg"
                        style="display: none; text-align: center;line-height: 0.8em; font-size: 12px; margin-top: 3%; font-family: Arial;">
                    </p>
                </div>
                <div class="col-sm-6">
                    <i class="fa fa-download" title="Download Report" id="download"
                        style="cursor: pointer;font-size: 27px; float: right;margin: 5px 0px 0px 8px;color: rgb(39, 194, 233);"
                        (click)="downloadRoport()"></i>
                    <i class="fa fa-home" id="home" title="Home"
                        style="cursor: pointer;font-size: 30px; float: right;margin: 2px 0px 0px 0px; color: rgb(39, 194, 233); display: none;"
                        alt="Home" (click)="districtWise()"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-sm-12"> -->
    <div class="row" style="margin-top: 0.5%;">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    X-AXIS: <select id="x_axis"
                        style="margin-right: 30px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                        [(ngModel)]="xAxis" name="xAxis" (change)="selectAxis()">
                        <option [value]="xAxis" disabled selected="selected">choose
                            x-axis
                        </option>
                        <option *ngFor="let xaxis of xAxisFilter" [(ngValue)]="xaxis.key"
                            style="font-family: Arial; font-size: 11px;">
                            {{xaxis.value}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-6">
                    Y-AXIS: <select id="y_axis"
                        style="margin-right: 10px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                        [(ngModel)]="yAxis" name="yAxis" (change)="selectAxis()">
                        <option [value]="yAxis" disabled selected="selected">choose
                            y-axis
                        </option>
                        <option *ngFor="let yaxis of yAxisFilter" [(ngValue)]="yaxis.key"
                            style="font-family: Arial; font-size: 11px;">
                            {{yaxis.value}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-12">
            <select
                style="margin-right: 10px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                [(ngModel)]="myDistrict" name="myDistrict" (change)="myDistData(myDistrict)">
                <option [value]="myDistrict" disabled selected="selected">Choose a District
                </option>
                <option *ngFor="let dist of School InfrastructureDistrictsNames" [(ngValue)]="dist.districtId"
                    style="font-family: Arial; font-size: 11px;">
                    {{dist.districtName}}
                </option>
            </select>

            <select [hidden]="blockHidden"
                style="margin-right: 10px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                [(ngModel)]="myBlock" name="myBlock" (change)="myBlockData(myBlock)">
                <option [value]="myBlock" disabled selected="selected">Choose a Block
                </option>
                <option *ngFor="let block of School InfrastructureBlocksNames" [(ngValue)]="block.blockId">
                    {{block.blockName}}
                </option>
            </select>

            <select [hidden]="clusterHidden"
                style="margin-right: 10px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                [(ngModel)]="myCluster" name="myCluster" (change)="myClusterData(myCluster)">
                <option [value]="myCluster" disabled selected="selected">Choose a Cluster
                </option>
                <option *ngFor="let cluster of School InfrastructureClusterNames" [(ngValue)]="cluster.clusterId"
                    style="font-family: Arial;font-size: 11px; "
                    [ngStyle]="{'color': cluster.clusterName !== 'NO NAME FOUND'? 'white' : '#ff3333'}">
                    {{cluster.clusterName}}
                </option>
            </select>
        </div> -->
    </div>
    <div class="row" style="margin-top: 5px; height: 80vh;">
        <div class="col-sm-6">
            <canvas id="myChart" height="210vh"></canvas>
        </div>
        <div class="col-sm-6">
            <div class="myDiv">
                <table #dataTable id="table" class="display responsive cell-border"
                    style="font-size: 11px; text-align: center; width: 100%; border: 1px solid gray;">
                    <thead>
                        <tr>
                            <th rowspan="2">District Name</th>
                            <th rowspan="2">Total Schools</th>
                            <th rowspan="2">Total Data Received</th>
                            <th colspan="2">Average on 19 parameters</th>
                            <th colspan="2">Safe Drinking Water</th>
                            <th colspan="2">Running Water Connection</th>
                            <th colspan="2">HandWash</th>
                            <th colspan="2">Solar Panel</th>
                            <th colspan="2">Library</th>
                            <th colspan="2">Hand Pump</th>
                            <th colspan="2">Playground</th>
                            <th colspan="2">News Paper</th>
                            <th colspan="2">Digital Board</th>
                            <th colspan="2">Electricity</th>
                            <th colspan="2">Functional Boy's Toilet</th>
                            <th colspan="2">Functional Girl's Toilet</th>
                            <th colspan="2">Functional Boy's Urinal</th>
                            <th colspan="2">Functional Girl's Urinal</th>
                            <th colspan="2">Running Water Toilet</th>
                            <th colspan="2">CWSN Toilets</th>
                        </tr>
                        <tr>
                            <th>Average</th>
                            <th>%</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                            <th>Yes</th>
                            <th>%.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of result">
                            <td>{{data.district_name}}</td>
                            <td>{{data.total_schools}}</td>
                            <td>{{data['total_schools_data received']}}</td>
                            <td>{{data.average_value}}</td>
                            <td>{{data.average_percent}}</td>
                            <td>{{data.drinking_water_value}}</td>
                            <td>{{data.drining_water_percent}}</td>
                            <td>{{data.tap_water_value}}</td>
                            <td>{{data.tap_water_percent}}</td>
                            <td>{{data.handwash_value}}</td>
                            <td>{{data.handwash_percent}}</td>
                            <td>{{data.solar_panel_value}}</td>
                            <td>{{data.solar_panel_percent}}</td>
                            <td>{{data.library_value}}</td>
                            <td>{{data.library_percent}}</td>
                            <td>{{data.hand_pumps_value}}</td>
                            <td>{{data.hand_pumps_percent}}</td>
                            <td>{{data.playground_value}}</td>
                            <td>{{data.playground_percent}}</td>
                            <td>{{data.news_paper_value}}</td>
                            <td>{{data.news_paper_percent}}</td>
                            <td>{{data.digital_board_value}}</td>
                            <td>{{data.digital_board_percent}}</td>
                            <td>{{data.electricity_value}}</td>
                            <td>{{data.electricity_percent}}</td>
                            <td>{{data.boys_toilet_value}}</td>
                            <td>{{data.boys_toilet_percent}}</td>
                            <td>{{data.girls_toilet_value}}</td>
                            <td>{{data.girls_toilet_percent}}</td>
                            <td>{{data.boys_urinals_value}}</td>
                            <td>{{data.boys_urinals_percent}}</td>
                            <td>{{data.girls_urinals_value}}</td>
                            <td>{{data.girls_urinals_percent}}</td>
                            <td>{{data.toilet_value}}</td>
                            <td>{{data.toilet_percent}}</td>
                            <td>{{data.cwsn_boys_toilet_value }}</td>
                            <td>{{data.cwsn_boys_toilet_percent }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- <div class="row"
        style="width:100%; background-color: gray;font-size: 13px;font-weight: bold; color: white; padding: 5px 0px 5px 0px;margin: 0px 0px 0px 0px;font-family: Arial;position: relative; bottom: 0; left: 0;"> -->
    <!-- <div style="margin-right: 7%; margin-left: 1%;">
            <span>Total Number of visits: {{visitCount}}</span>
        </div>
        <div style="margin-right: 7%;">
            <span style="text-align: center;">Total Number of schools: {{schoolCount}}</span>
        </div>
        <div style="margin-right:7%;">
            <span style="float: right;">Total schools visited: {{visitedSchools}}</span>
        </div>
        <div style="margin-right: 7%;">
            <span style="float: right;">Total schools not visited: {{notVisitedSchools}}</span>
        </div> -->
    <!-- <div>
            <span style="float: right;">Date range: {{dateRange}}</span>
        </div> -->
    <!-- </div> -->
    <!-- <div class="loader" id="loader"></div> -->

</div>
<div id="spinner" style="display: none;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>