* {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 4px;
    font-size: 16px;
  }
  
  input[type=search] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  .link{
   position: absolute;  bottom: 0px; left: 30px;color: white; font-weight: bold;
   text-decoration: underline;
   transition: transform .5s;
  }

  .link:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02); 
  }

  p a{
    text-decoration: underline;
  }




  
  .healthcard-tooltip {
    position: absolute;
    right: 30px;
    top: 35px;
  }

  .healthcard-tooltip.show .healthcard-tooltip-btn {
    background: transparent;
  }

  .healthcard-tooltip-btn {
    padding: 0;
    border: none;
  }

  .healthcard-tooltip-btn:hover, .healthcard-tooltip-btn:active {
    background-color: transparent !important;
  }

  .healthcard-tooltip-btn:focus {
    box-shadow: none !important;
  }

  .healthcard-tooltip-btn::after {
    display: none;
  }

  .healthcard-tooltip-dropdown {
    /* width: 300px !important; */
    padding-left: 10px;
    font-size: 13px;
    margin-left: 15px;
  }
  
  /* This bridges the gap so you can mouse into the tooltip without it disappearing */
   .healthcard-tooltip-dropdown:before {
    top: 20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    /* width: 100%; */
  }  
  
  /* CSS Triangles - see Trevor's post */
   .healthcard-tooltip-dropdown:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid white 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 93.5%;
    margin-left: -13px;
    position: absolute;
    width: 0;
  }
  /* IE can just show/hide with no transition */
  .lte8 .wrapper .tooltip {
    display: none;
  }
  
  .lte8 .wrapper:hover .tooltip {
    display: block;
  }

  .headings{
    font-weight: bold;
  }

  .col-lg-1 button{
    width: 100% auto;
  } 
  .col-md-2 button {
    width: 100% auto;
  }
  .col-sm-12 button{
    width: 100%;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
}