{
  "alias":"CONFIGURE_TOTP",
  "name":"Configure OTP",
  "providerId":"CONFIGURE_TOTP",
  "enabled": {% if temp_config_otp == True %}true{% endif %}{% if temp_config_otp == False %}false{% endif %},
  "defaultAction":false,
  "priority":10,
  "config":{}
}
