[Unit]
Description=Jboss Application Server
After=network.target
PartOf=postgresql.service

[Service]
Type=idle
ExecStart={{ keycloak_jboss_home }}/bin/standalone.sh -b 0.0.0.0
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target