<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h4 id="head" style="margin: 5px 0px 0px 0px; color: #284d8a; float: left;">Nifi Scheduler
            </h4>
            <p id="err"
                style="padding: 5px 0px 5px 0px;border-radius: 5px;float: left; margin-left: 20%; text-align: center;"
                class="validation-message">{{err}}</p>
            <p id="success"
                style="background-color: green;color: white; padding: 5px 2px 5px 2px;border-radius: 5px; display: none;float: left; margin-left: 20%; text-align: center;">
                {{msg}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- <div style="border: 1px solid gray; padding: 1%;"> -->
            <table #DataTable id="table" class="display nowrap" width="100%"
                style="font-size: 12px; text-align: center;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Process Name</th>
                        <th>Process Status</th>
                        <th>Time Range</th>
                        <th>Schedule Time(Hours)</th>
                        <th>Schedule Time(Minutes)</th>
                        <th>Stopping Hours</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{d.name}}</td>
                        <td>{{d.state}}</td>
                        <td style="width: 250px;">
                            <select class="time" required id="role"
                                style="float: left; padding: 9px;width: 48%; color: rgb(2, 2, 2); border-radius: 4px;border: 1px solid rgb(199, 196, 196); margin: 0px 0px 2px 0px; font-size: 13px; background-color: rgb(255, 255, 255);"
                                [(ngModel)]="selectedTimeRange[i]" (change)="onSelectTimeRange(i)">
                                <option [value]="selectedTimeRange[i]" disabled selected> TimeRange
                                </option>
                                <option *ngFor="let time of timeRange" [(ngValue)]="time.key"
                                    style="text-align: center;">
                                    {{time.value}}
                                </option>
                            </select>
                            <select [hidden]="showDay[i]" class="time" required id="role"
                                style="padding: 9px;width: 48%; color: rgb(2, 2, 2); border-radius: 4px;border: 1px solid rgb(199, 196, 196); margin: 0px 0px 2px 0px; font-size: 13px; background-color: rgb(255, 255, 255);"
                                [(ngModel)]="selectedDay[i]" (change)="onSelectDay(i)">
                                <option [value]="selectedDay[i]" disabled selected> Select Day
                                </option>
                                <option *ngFor="let day of allDays" [(ngValue)]="day.key" style="text-align: center;">
                                    {{day.name}}
                                </option>
                            </select>

                            <input [hidden]="showMonth[i]" type="text"
                                (bsValueChange)="showDate[i] ?  onSelectMonth(myDateValue[i]): onSelectDate(myDateValue[i])"
                                style="width:48%; margin:0px auto; margin-left: 2px; float: left;"
                                placeholder="{{placeHolder}}" class="form-control" #dp="bsDatepicker" bsDatepicker
                                [(ngModel)]="myDateValue[i]"
                                [bsConfig]="{dateInputFormat: showDate[i] ? 'DD': 'DD/MM' , showWeekNumbers:false }">
                        </td>
                        <td>
                            <select class="time" required id="role"
                                style="padding: 9px;width: 90%; color: rgb(2, 2, 2); border-radius: 4px;border: 1px solid rgb(199, 196, 196); margin: 0px 0px 2px 0px; font-size: 13px; background-color: rgb(255, 255, 255);"
                                [(ngModel)]="selectedTime[i]" (change)="onSelectTime(i)">
                                <option [value]="selectedTime[i]" disabled selected> Choose Hours
                                </option>
                                <option *ngFor="let time of timeArr" [(ngValue)]="time.time"
                                    style="text-align: center;">
                                    {{time.time}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="time" required id="role"
                                style="padding: 9px;width: 90%; color: rgb(2, 2, 2); border-radius: 4px;border: 1px solid rgb(199, 196, 196); margin: 0px 0px 2px 0px; font-size: 13px; background-color: rgb(255, 255, 255);"
                                [(ngModel)]="selectedMinuts[i]" (change)="onSelectMinutes(i)">
                                <option [value]="selectedMinuts[i]" disabled selected> Choose Minutes
                                </option>
                                <option *ngFor="let min of minsArr" [(ngValue)]="min.mins">
                                    {{min.mins}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="time" required id="role"
                                style="padding: 9px;width: 90%; color: rgb(2, 2, 2); border-radius: 4px;border: 1px solid rgb(199, 196, 196); margin: 0px 0px 2px 0px; font-size: 13px; background-color: rgb(255, 255, 255);"
                                [(ngModel)]="selectedHour[i]" (change)="onSelectHour(i)">
                                <option [value]="selectedHour[i]" disabled selected> Choose Duration
                                </option>
                                <option *ngFor="let hour of hoursArr" [(ngValue)]="hour.hours">
                                    {{hour.hours}}
                                </option>
                            </select>
                        </td>
                        <td><button id="schedule" class="btn btn-primary"
                                (click)="onClickSchedule(d, i)">Schedule</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- </div> -->
        </div>
    </div>

</div>
<div id="spinner" style="display: block;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>