<div class="container-fluid" style="font-family: Arial;">
    <div class="row">
        <div class="col-sm-9">
            <div *ngIf='skul'>
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span></p>
            </div>
            <div *ngIf='dist'>
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span> <span>/ </span><span
                        (click)="myDistData(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{hierName}}</span> </p>
            </div>
            <div *ngIf="blok">
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span><span>/ </span><span
                        (click)="myDistData(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{titleName}}</span><span>/ </span><span (click)="myBlockData(blockName)"
                        style="cursor: pointer;text-decoration: underline;">
                        {{hierName}}</span></p>
            </div>

            <div *ngIf="clust">
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span><span>/ </span><span
                        (click)="myDistData(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{titleName}}</span><span>/ </span><span (click)="myBlockData(blockName)"
                        style="cursor: pointer;text-decoration: underline;">
                        {{title}}</span><span>/ </span><span>
                        {{hierName}}</span></p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12" id="spinner">
                        <div class="spinner-border text-secondary"
                            style="height: 20px; width: 20px; font-size: 21px; margin: 1% 5% 0% 0%; float: left; font-family: Arial;"
                            role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span
                            style="color: green; float: left; font-size: 12px; margin-top: 0.6%;font-family: Arial;">Please
                            Wait...</span>

                    </div>
                    <p id="errMsg" style="display: none; text-align: center; margin-top: 1%; font-family: Arial;"></p>

                </div>
                <div class="col-sm-6">
                    <img src="./../../assets//download.png" alt="Download Report" title="Download Report"
                        style="cursor: pointer;height: 23px;width: 25px;float: right;margin: 5px 0px 0px 8px;"
                        (click)="downloadRoport()">
                    <img src="../../assets/home.png" title="Home" id="home"
                        style="cursor: pointer;height: 30px;width: 30px;float: right;margin: 2px 0px 0px 0px;"
                        alt="Home" (click)="districtWise()">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-9" style="font-family: Arial;">
            
        </div>

    </div> -->
    <div class="row" style="margin-top: 2px;">
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <select
                        style="margin-right: 10px; padding: 3px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);"
                        [(ngModel)]="myDistrict" name="myDistrict" (change)="myDistData(myDistrict)">
                        <option [value]="myDistrict" disabled selected="selected">Choose a District
                        </option>
                        <option *ngFor="let dist of crcDistrictsNames" [(ngValue)]="dist.districtId"
                            style="font-family: Arial; font-size: 11px;">
                            {{dist.districtName}}
                        </option>
                    </select>

                    <select [hidden]="blockHidden"
                        style="margin-right: 10px; padding: 3px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);"
                        [(ngModel)]="myBlock" name="myBlock" (change)="myBlockData(myBlock)">
                        <option [value]="myBlock" disabled selected="selected">Choose a Block
                        </option>
                        <option *ngFor="let block of crcBlocksNames" [(ngValue)]="block.blockId">
                            {{block.blockName}}
                        </option>
                    </select>

                    <select [hidden]="clusterHidden"
                        style="margin-right: 10px; padding: 3px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);"
                        [(ngModel)]="myCluster" name="myCluster" (change)="myClusterData(myCluster)">
                        <option [value]="myCluster" disabled selected="selected">Choose a Cluster
                        </option>
                        <option *ngFor="let cluster of crcClusterNames" [(ngValue)]="cluster.clusterId"
                            style="font-family: Arial;font-size: 11px; "
                            [ngStyle]="{'color': cluster.name !== 'NO NAME FOUND'? 'white' : '#ff3333'}">
                            {{cluster.clusterName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <div class="col-sm-6">
                    <select
                        style="margin-right: 10px; padding: 1.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                        [(ngModel)]="xAxis" name="xAxis" (change)="selectAxis()">
                        <option [value]="xAxis" disabled selected="selected">choose
                            x-axis
                        </option>
                        <option *ngFor="let xaxis of xAxisFilter" [(ngValue)]="xaxis.key"
                            style="font-family: Arial; font-size: 11px;">
                            {{xaxis.value}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <select
                        style="margin-right: 10px; padding: 1.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                        [(ngModel)]="yAxis" name="yAxis" (change)="selectAxis()">
                        <option [value]="yAxis" disabled selected="selected">choose
                            y-axis
                        </option>
                        <option *ngFor="let yaxis of yAxisFilter" [(ngValue)]="yaxis.key"
                            style="font-family: Arial; font-size: 11px;">
                            {{yaxis.value}}
                        </option>
                    </select>
                </div>
                <!-- </div> -->
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-12">
                    <div style="height: 430px;">
                        <div style="width: 100%;">
                            <canvas id="myChart"></canvas>
                            <!-- <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions"
                                [chartType]="scatterChartType">
                            </canvas>
                            <button (click)="changeData()">Change</button> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-sm-5">
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="dist_table" style="display: none;">
                <div class="wrapper">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="districtName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> District Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_0">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-0 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_0}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_1_2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-1 to 2 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_1_2}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_3_5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-3 to 5 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_3_5}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_6_10">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-6 to 10 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_6_10}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_10_more">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit more than-10 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_10_more}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visits_per_school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit per Schools </th>
                            <td mat-cell *matCellDef="let element"> {{element.visits_per_school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="no_of_schools_per_crc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No of schools per CRC </th>
                            <td mat-cell *matCellDef="let element"> {{element.no_of_schools_per_crc}} </td>
                        </ng-container>
                        <ng-container matColumnDef="percentage_crc_visited_school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visited schools per CRC (%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.percentage_crc_visited_school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalSchools">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Schools </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalSchools}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalVisits">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Visits </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalVisits}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <!-- Angular 8 pagination -->
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
                </div>
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="block_table" style="display: none;">
                <div class="wrapper">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="districtName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> District Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_0">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-0 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_0}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_1_2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-1 to 2 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_1_2}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_3_5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-3 to 5 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_3_5}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_6_10">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-6 to 10 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_6_10}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_10_more">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit more than-10 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_10_more}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visits_per_school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit per Schools </th>
                            <td mat-cell *matCellDef="let element"> {{element.visits_per_school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="no_of_schools_per_crc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No of schools per CRC </th>
                            <td mat-cell *matCellDef="let element"> {{element.no_of_schools_per_crc}} </td>
                        </ng-container>
                        <ng-container matColumnDef="percentage_crc_visited_school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visited schools per CRC (%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.percentage_crc_visited_school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalSchools">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Schools </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalSchools}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalVisits">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Visits </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalVisits}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <!-- Angular 8 pagination -->
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
                </div>
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="cluster_table" style="display: none;">
                <div class="wrapper">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="districtName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> District Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_0">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-0 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_0}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_1_2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-1 to 2 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_1_2}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_3_5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-3 to 5 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_3_5}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_6_10">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-6 to 10 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_6_10}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_10_more">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit more than-10 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_10_more}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visits_per_school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit per Schools </th>
                            <td mat-cell *matCellDef="let element"> {{element.visits_per_school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="no_of_schools_per_crc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No of schools per CRC </th>
                            <td mat-cell *matCellDef="let element"> {{element.no_of_schools_per_crc}} </td>
                        </ng-container>
                        <ng-container matColumnDef="percentage_crc_visited_school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visited schools per CRC (%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.percentage_crc_visited_school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalSchools">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Schools </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalSchools}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalVisits">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Visits </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalVisits}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <!-- Angular 8 pagination -->
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
                </div>
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="school_table" style="display: none;">
                <div class="wrapper">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="districtName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> District Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.districtName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_0">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-0 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_0}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_1_2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-1 to 2 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_1_2}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_3_5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-3 to 5 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_3_5}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_6_10">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-6 to 10 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_6_10}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_10_more">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit more than-10 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_10_more}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visits_per_school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit per Schools </th>
                            <td mat-cell *matCellDef="let element"> {{element.visits_per_school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="no_of_schools_per_crc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No of schools per CRC </th>
                            <td mat-cell *matCellDef="let element"> {{element.no_of_schools_per_crc}} </td>
                        </ng-container>
                        <ng-container matColumnDef="percentage_crc_visited_school">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visited schools per CRC (%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.percentage_crc_visited_school}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalSchools">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Schools </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalSchools}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalVisits">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Visits </th>
                            <td mat-cell *matCellDef="let element"> {{element.totalVisits}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <!-- Angular 8 pagination -->
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
                </div>
            </div>

            <div style="line-height: .6em; margin-top: 30px; font-size: 12px;">
                <p> Total schools visited:</p>
                <p> Total schools not visited:</p>
                <p> Total visited records:</p>
                <p> Total not visited records:</p>
            </div>
        </div>
    </div>

    <div class="row"
        style="width:100%; background-color: gray;font-size: 13px;font-weight: bold; color: white; margin: 0px 0px 0px 0px;font-family: Arial; height: 22px;">
        <div class="col-sm-4">
            <span>Number of visits(total): {{visitCount}}</span>
        </div>
        <div class="col-sm-4">
            <span style="text-align: center;">Number of schools: {{schoolCount}}</span>
        </div>
        <div class="col-sm-4">
            <span style="float: right;">Date range: {{dateRange}}</span>
        </div>
    </div>
</div>