<div class="container-fluid" style="font-family: Arial; width: 100%;">
    <div class="row">
        <div class="col-sm-7">
            <div *ngIf='skul'>
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span></p>
            </div>
            <div *ngIf='dist'>
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span> <span>/ </span><span
                        (click)="myDistData(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{hierName}}</span> </p>
            </div>
            <div *ngIf="blok">
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span><span>/ </span><span
                        (click)="myDistData(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{titleName}}</span><span>/ </span><span (click)="myBlockData(blockName)"
                        style="cursor: pointer;text-decoration: underline;">
                        {{hierName}}</span></p>
            </div>

            <div *ngIf="clust">
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span><span>/ </span><span
                        (click)="myDistData(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{titleName}}</span><span>/ </span><span (click)="myBlockData(blockName)"
                        style="cursor: pointer;text-decoration: underline;">
                        {{title}}</span><span>/ </span><span>
                        {{hierName}}</span></p>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-5">
                    <div class="col-sm-12" id="spinner">
                        <div class="spinner-border text-secondary"
                            style="height: 20px; width: 20px; font-size: 21px; margin: 1% 5% 0% 0%; float: left; font-family: Arial;"
                            role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span
                            style="color: green; float: left; font-size: 12px; margin-top: 0.6%;font-family: Arial;">Please
                            Wait...</span>

                    </div>
                    <p id="errMsg"
                        style="display: none; text-align: center;line-height: 0.8em; font-size: 12px; margin-top: 3%; font-family: Arial;">
                    </p>
                </div>
                <div class="col-sm-7">
                    <div *ngIf="skul; else ng_else" style="float: right; " id="select">
                        <img src="./../../assets//download.png" alt="Download Report" title="Download Report"
                            style="cursor: pointer;height: 23px;width: 25px;float: right;margin: 5px 0px 0px 8px;"
                            (click)="downloadReportofState(downloadType)">
                        <select class="dwnld"
                            style="padding: 3px; color: white; border-radius: 4px;margin: 5px 0px 0px 8px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                            [(ngModel)]="downloadType" name="downloadType">
                            <option [value]="downloadType" disabled selected="selected"> Download Report</option>
                            <option *ngFor="let md of modes, let i = index" [(ngValue)]="modes[i]">
                                {{md}} Report
                            </option>
                        </select>
                    </div>

                    <ng-template #ng_else>
                        <img src="./../../assets//download.png" alt="Download Report" title="Download Report"
                            style="cursor: pointer;height: 23px;width: 25px;float: right;margin: 5px 0px 0px 8px;"
                            (click)="downloadRoport()">
                    </ng-template>
                    <i class="fa fa-home" id="home" title="Home"
                        style="cursor: pointer;font-size: 30px; float: right;margin: 2px 0px 0px 0px; color: rgb(39, 194, 233); display: none;"
                        alt="Home" (click)="districtWise()"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-9" style="font-family: Arial;">
            
        </div>

    </div> -->
    <div class="row" style="margin-top: 2px;">
        <div class="col-sm-12">
            <p style="font-size: 11px; vertical-align:middle; line-height: 1.2em;text-align: justify;">
                <b> NOTE:</b> The dashboard here provides insights using the CRC App data. We have derived several
                normalised
                metrics
                using the raw data and you can read more about them using the following link. A key feature of this
                dashboard is its ability to Zoom In and Out at various administrative levels. The administrative
                levels
                include District, Block and Cluster. This has been done to provide relevant insights at the
                appropriate
                administrative level. In addition to visualising data, the dashboard also gives you the ability to
                download
                the data at various administrative levels. This feature has been enabled to provide freedom to power
                users
                to derive additional insights that may not be captured in this dashboard. You can download the data
                using
                the dropdown option on the top right corner.
            </p>
        </div>
    </div>
    <!-- <div class="col-sm-12"> -->
    <div class="row" style="margin-top: 0.5%;">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    X-AXIS: <select
                        style="margin-right: 30px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                        [(ngModel)]="xAxis" name="xAxis" (change)="selectAxis()">
                        <option [value]="xAxis" disabled selected="selected">choose
                            x-axis
                        </option>
                        <option *ngFor="let xaxis of xAxisFilter" [(ngValue)]="xaxis.key"
                            style="font-family: Arial; font-size: 11px;">
                            {{xaxis.value}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-6">
                    Y-AXIS: <select
                        style="margin-right: 10px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                        [(ngModel)]="yAxis" name="yAxis" (change)="selectAxis()">
                        <option [value]="yAxis" disabled selected="selected">choose
                            y-axis
                        </option>
                        <option *ngFor="let yaxis of yAxisFilter" [(ngValue)]="yaxis.key"
                            style="font-family: Arial; font-size: 11px;">
                            {{yaxis.value}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <select
                style="margin-right: 10px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                [(ngModel)]="myDistrict" name="myDistrict" (change)="myDistData(myDistrict)">
                <option [value]="myDistrict" disabled selected="selected">Choose a District
                </option>
                <option *ngFor="let dist of crcDistrictsNames" [(ngValue)]="dist.districtId"
                    style="font-family: Arial; font-size: 11px;">
                    {{dist.districtName}}
                </option>
            </select>

            <select [hidden]="blockHidden"
                style="margin-right: 10px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                [(ngModel)]="myBlock" name="myBlock" (change)="myBlockData(myBlock)">
                <option [value]="myBlock" disabled selected="selected">Choose a Block
                </option>
                <option *ngFor="let block of crcBlocksNames" [(ngValue)]="block.blockId">
                    {{block.blockName}}
                </option>
            </select>

            <select [hidden]="clusterHidden"
                style="margin-right: 10px; padding: 1px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                [(ngModel)]="myCluster" name="myCluster" (change)="myClusterData(myCluster)">
                <option [value]="myCluster" disabled selected="selected">Choose a Cluster
                </option>
                <option *ngFor="let cluster of crcClusterNames" [(ngValue)]="cluster.clusterId"
                    style="font-family: Arial;font-size: 11px; "
                    [ngStyle]="{'color': cluster.clusterName !== 'NO NAME FOUND'? 'white' : '#ff3333'}">
                    {{cluster.clusterName}}
                </option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col-sm-6" style=" height:66.5vh;">
            <p style="font-size: 11px; vertical-align:middle;line-height: 1.2em;text-align: justify;">
                <b> NOTE:</b> The scatter plot below provides information for the metrics selected in the
                dropdown
                below. You
                can
                alter the metrics (calculated from the CRC App) to update the scatter plot.
            </p>

            <div>
                <!-- <div class="col-sm-12" id="spinner">
                    <div class="spinner-border text-secondary"
                        style="height: 40px; width: 40px; font-size: 10px; margin: 20% 5% 0% 45%; float: left; font-family: Arial;text-align: center;"
                        role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div> -->
                <div>
                    <canvas id="myChart" height="27vh" width="50vw"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <p style="font-size: 11px; vertical-align:middle;line-height: 1.2em;text-align: justify;">
                <b> NOTE:</b> The scatter plot below provides information for the metrics selected in the
                dropdown
                below. You
                can
                alter the metrics (calculated from the CRC App) to update the scatter plot.
            </p>
            <!-- <div class="col-sm-12" id="spinner">
                <div class="spinner-border text-secondary"
                    style="height: 40px; width: 40px; font-size: 10px; margin: 20% 5% 0% 45%; float: left; font-family: Arial; text-align: center;"
                    role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div> -->
            <div class="myDiv">
                <table #dataTable id="table" class="display responsive cell-border" style="font-size: 11px;">
                </table>
            </div>
        </div>

    </div>

    <div class="row"
        style="width:100%; background-color: gray;font-size: 13px;font-weight: bold; color: white; padding: 5px 0px 5px 0px;margin: 0px 0px 0px 0px;font-family: Arial;position: relative; bottom: 0; left: 0;">
        <div style="margin-right: 7%; margin-left: 1%;">
            <span>Total Number of visits: {{visitCount}}</span>
        </div>
        <div style="margin-right: 7%;">
            <span style="text-align: center;">Total Number of schools: {{schoolCount}}</span>
        </div>
        <div style="margin-right:7%;">
            <span style="float: right;">Total schools visited: {{visitedSchools}}</span>
        </div>
        <div style="margin-right: 7%;">
            <span style="float: right;">Total schools not visited: {{notVisitedSchools}}</span>
        </div>
        <!-- <div>
            <span style="float: right;">Date range: {{dateRange}}</span>
        </div> -->
    </div>
    <!-- <div class="loader" id="loader"></div> -->

</div>