<div class="container-fluid" style="font-family: Arial;">
    <div class="row">
        <div class="col-sm-9">
            <div *ngIf='skul'>
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span></p>
            </div>
            <div *ngIf='dist'>
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span> <span>/ </span><span
                        (click)="myDistData(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{hierName}}</span> </p>
            </div>
            <div *ngIf="blok">
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span><span>/ </span><span
                        (click)="myDistData(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{titleName}}</span><span>/ </span><span (click)="myBlockData(blockName)"
                        style="cursor: pointer;text-decoration: underline;">
                        {{hierName}}</span></p>
            </div>

            <div *ngIf="clust">
                <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 0.8em; margin-top: 5px;">
                    CRC report for: <span (click)="districtWise()"
                        style="cursor: pointer;text-decoration: underline;">Gujarat</span><span>/ </span><span
                        (click)="myDistData(distName)" style="cursor: pointer;text-decoration: underline;">
                        {{titleName}}</span><span>/ </span><span (click)="myBlockData(blockName)"
                        style="cursor: pointer;text-decoration: underline;">
                        {{title}}</span><span>/ </span><span>
                        {{hierName}}</span></p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12" id="spinner">
                        <div class="spinner-border text-secondary"
                            style="height: 20px; width: 20px; font-size: 21px; margin: 1% 5% 0% 0%; float: left; font-family: Arial;"
                            role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span
                            style="color: green; float: left; font-size: 12px; margin-top: 0.6%;font-family: Arial;">Please
                            Wait...</span>

                    </div>
                    <p id="errMsg" style="display: none; text-align: center; margin-top: 1%; font-family: Arial;"></p>

                </div>
                <div class="col-sm-6">
                    <img src="./../../assets//download.png" alt="Download Report" title="Download Report"
                        style="cursor: pointer;height: 23px;width: 25px;float: right;margin: 5px 0px 0px 8px;"
                        (click)="downloadRoport()">
                    <img src="../../assets/home.png" title="Home" id="home"
                        style="cursor: pointer;height: 30px;width: 30px;float: right;margin: 2px 0px 0px 0px;"
                        alt="Home" (click)="districtWise()">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-9" style="font-family: Arial;">
            
        </div>

    </div> -->
    <div class="row" style="margin-top: 2px;">
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <select
                        style="margin-right: 10px; padding: 3px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);"
                        [(ngModel)]="myDistrict" name="myDistrict" (change)="myDistData(myDistrict)">
                        <option [value]="myDistrict" disabled selected="selected">Choose a District
                        </option>
                        <option *ngFor="let dist of districtsNames" [(ngValue)]="dist"
                            style="font-family: Arial; font-size: 11px;">
                            {{dist.name}}
                        </option>
                    </select>

                    <select [hidden]="blockHidden"
                        style="margin-right: 10px; padding: 3px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);"
                        [(ngModel)]="myBlock" name="myBlock" (change)="myBlockData(myBlock)">
                        <option [value]="myBlock" disabled selected="selected">Choose a Block
                        </option>
                        <option *ngFor="let block of blocksNames" [(ngValue)]="block">
                            {{block.name}}
                        </option>
                    </select>

                    <select [hidden]="clusterHidden"
                        style="margin-right: 10px; padding: 3px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);"
                        [(ngModel)]="myCluster" name="myCluster" (change)="myClusterData(myCluster)">
                        <option [value]="myCluster" disabled selected="selected">Choose a CRC Name
                        </option>
                        <option *ngFor="let cluster of clusterNames" [(ngValue)]="cluster"
                            style="font-family: Arial;font-size: 11px; "
                            [ngStyle]="{'color': cluster.name !== 'NO NAME FOUND'? 'white' : '#ff3333'}">
                            {{cluster.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <div class="col-sm-6">
                    <select
                        style="margin-right: 10px; padding: 1.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                        [(ngModel)]="xAxis" name="xAxis" (change)="districtWise()">
                        <option [value]="xAxis" disabled selected="selected">choose
                            x-axis
                        </option>
                        <option *ngFor="let xaxis of xAxisFilter" [(ngValue)]="xaxis.key"
                            style="font-family: Arial; font-size: 11px;">
                            {{xaxis.value}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <select
                        style="margin-right: 10px; padding: 1.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(152, 160, 163);"
                        [(ngModel)]="yAxis" name="yAxis" (change)="districtWise()">
                        <option [value]="yAxis" disabled selected="selected">choose
                            y-axis
                        </option>
                        <option *ngFor="let yaxis of yAxisFilter" [(ngValue)]="yaxis.key"
                            style="font-family: Arial; font-size: 11px;">
                            {{yaxis.value}}
                        </option>
                    </select>
                </div>
                <!-- </div> -->
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-12">
                    <div style="height: 430px;">
                        <div style="width: 100%;">
                            <canvas id="myChart"></canvas>
                            <!-- <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions"
                                [chartType]="scatterChartType">
                            </canvas>
                            <button (click)="changeData()">Change</button> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-sm-5">
            <!-- <h4>Table Data</h4> -->
            <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-condensed" style="border: 1px solid black;font-size: 11px;">
                    <thead>
                        <tr>
                            <th style="border: 1px solid black;">District Name</th>
                            <th style="border: 1px solid black;" *ngFor="let yaxis of yAxisFilter">{{yaxis.value}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of result">
                            <td style="border: 1px solid black;">{{row.districtName}}</td>
                            <td style="border: 1px solid black;">{{row.visit_0}}</td>
                            <td style="border: 1px solid black;">{{row.visit_1_2}}</td>
                            <td style="border: 1px solid black;">{{row.visit_3_5}}</td>
                            <td style="border: 1px solid black;">{{row.visit_6_10}}</td>
                            <td style="border: 1px solid black;">{{row.visit_10_more}}</td>
                            <td style="border: 1px solid black;">{{row.no_of_schools_per_crc}}</td>
                            <td style="border: 1px solid black;">{{row.visits_per_school}}</td>
                            <td style="border: 1px solid black;">{{row.totalSchools}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <div class="wrapper">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="District_Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> District Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.District_Name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_0_times">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-0 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_0_times}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_1to2_times">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-1 to 2 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_1to2_times}} </td>
                        </ng-container>

                        <ng-container matColumnDef="visit_3to5_times">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visit-3 to 5 times(%) </th>
                            <td mat-cell *matCellDef="let element"> {{element.visit_3to5_times}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <!-- Angular 8 pagination -->
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
                </div>
            </div>
            <div style="line-height: .6em; margin-top: 30px; font-size: 12px;">
                <p> Total schools visited:</p>
                <p> Total schools not visited:</p>
                <p> Total visited records:</p>
                <p> Total not visited records:</p>
            </div>
        </div>
    </div>

    <div class="row"
        style="width:100%; background-color: gray;font-size: 13px;font-weight: bold; color: white; margin: 0px 0px 0px 0px;font-family: Arial; height: 22px;">
        <div class="col-sm-4">
            <span>Number of visits(total): {{visitCount}}</span>
        </div>
        <div class="col-sm-4">
            <span style="text-align: center;">Number of schools: {{schoolCount}}</span>
        </div>
        <div class="col-sm-4">
            <span style="float: right;">Date range: {{dateRange}}</span>
        </div>
    </div>
</div>