.toolbar-filler {
  flex: 1 1 auto
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}


/* @media(min-width:768px){
  .sidenav{
    display: none;
  }
} */

.img-circle{
  border-radius: 50%;
}
img{
  border: 0;
  vertical-align: middle;
}
.profile{
  float: none;
  margin: 13px 83px;
}
.sidenav a{
  padding: 4px 2px 4px 0px;
  text-decoration: none;
  font-size: 14px;
  color: #3553d8;
  display: block;
  transition: .3s;
}
.sidenav a:hover{
  background-color:  #337ab7; 
  color:#ffffff;
  text-decoration: none;
}

.abc1:hover{
  background-color:  #337ab7; 
  color:#ffffff;
  text-decoration: none;
}

.abc1{
  padding: 4px 2px 4px 0px;
  text-decoration: none;
  background-color: #ffffff;
  font-size: 14px;
  color: #3553d8;
  display: block;
  transition: .3s;
}

.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0px;
  display: block;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu1 {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}

.submenu2 {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}

.submenu3 {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}

.submenu4 {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}

.submenu5 {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}

.submenu6 {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}

.submenu7 {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}

.submenu8 {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu9{
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu.expanded {
  height: 48px;
}

.submenu1.expanded {
  height: 144px;
}

.submenu2.expanded {
  height: 288px;
}

.submenu3.expanded {
  height: 96px;
}

.submenu4.expanded {
  height: 240px;
}

.submenu5.expanded {
  height: 48px;
}

.submenu6.expanded {
  height: 240px;
}

.submenu7.expanded {
  height: 48px;
}
.submenu8.expanded {
  height: 48px;
}

.submenu9.expanded {
  height: 144px;
}

a{
  border-bottom: 1px solid lightgray;
}
.headerBtn{
  color: #24223e;
}

.menu:hover{
  color: rgb(66, 148, 241);
}

.headerBtn:hover ,.headerBtn:active{
  transition: transform .1s;
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12); 
  color: rgb(66, 148, 241);
}

#logoImg{
  height:30px; 
  width:90px;
}

.header{
  height: 35px; 
  background-color: rgb(245, 245, 245); 
  width: 100%;
}

#backBtn,#homeBtn{
  padding: 1.5px; cursor: pointer; font-size: 13px; margin-right: 2%;
}

#logout{
  padding: 1.5px; cursor: pointer; font-size: 13px;
}

.fa-sign-out{
  font-size: 16px;
}

.menu{
  margin-left: -9px;
}

.mat-icon-button{
  width: 40px;
  height: 40px;
}

#version{
  position: absolute; left: 5%; bottom: 2%; font-size: 12px;
}

#releaseDate{
  position: absolute; right: 3%; bottom: 2%; font-size: 12px;
}

@media screen and (min-width: 1920px){
  .header{
    height: 50px; 
    background-color: rgb(245, 245, 245); 
    width: 100%;
  }

  #logoImg{
    height:40px; 
    width:130px;
    padding-left: 7px !important;
  }
  
  #backBtn,#homeBtn{
    padding: 1.8px; cursor: pointer; font-size: 20px; margin-right: 2%;
  }
  
  #logout{
    padding: 1.8px; cursor: pointer; font-size: 20px;
  }

  .fa-sign-out{
    font-size: 22px;
  }
  .menu{
    margin-left: -6px;
  }

  .material-icons{
    font-size: 34px;
  }

  .mat-icon-button{
    width: 50px;
    height: 50px;
  }

  #version{
    position: absolute; left: 5%; bottom: 4%; font-size: 15px;
  }
  
  #releaseDate{
    position: absolute; right: 3%; bottom: 4%; font-size: 15px;
  }
}

@media screen and (min-width: 2560px){
  .header{
    height: 60px; 
    background-color: rgb(245, 245, 245); 
    width: 100%;
  }

  #logoImg{
    height:50px; 
    width:160px;
    padding-left: 10px !important;
  }
  
  #backBtn,#homeBtn{
    padding: 1.8px; cursor: pointer; font-size: 23px; margin-right: 2%;
  }
  
  #logout{
    padding: 1.8px; cursor: pointer; font-size: 23px;
  }

  .fa-sign-out{
    font-size: 25px;
  }
  .menu{
    margin-left: -3px;
  }
  .material-icons{
    font-size: 38px;
  }

  .mat-icon-button{
    width: 60px;
    height: 60px;
  }

  #version{
    position: absolute; left: 5%; bottom: 5%; font-size: 18px;
  }
  
  #releaseDate{
    position: absolute; right: 3%; bottom: 5%; font-size: 18px;
  }
}

@media screen and (min-width: 3820px){
  .header{
    height: 70px !important; 
    background-color: rgb(245, 245, 245); 
    width: 100% !important;
  }

  #logoImg{
    height:62px !important; 
    width:180px !important;
    padding-left: 15px !important;
  }
  
  #backBtn,#homeBtn{
    padding: 2px; 
    cursor: pointer; 
    font-size: 28px; 
    margin-right: 3%;
  }
  
  #logout{
    padding: 2px; 
    cursor: pointer; 
    font-size: 28px;
  }

  .fa-sign-out{
    font-size: 30px;
  }
  .menu{
    margin-left: -3px;
  }
  .material-icons{
    font-size: 44px;
  }

  .mat-icon-button{
    width: 65px;
    height: 65px;
  }

  #version{
    position: absolute; 
    left: 5%; 
    bottom: 5%; 
    font-size: 24px !important;
  }
  
  #releaseDate{
    position: absolute; 
    right: 3%; bottom: 5%; 
    font-size: 24px !important;
  }
}