.toolbar-filler {
    flex: 1 1 auto
}

.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 280px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
  
  
  /* @media(min-width:768px){
    .sidenav{
      display: none;
    }
  } */
  
  .img-circle{
    border-radius: 50%;
  }
  img{
    border: 0;
    vertical-align: middle;
  }
  .profile{
    float: none;
    margin: 13px 83px;
  }
  .sidenav a{
    padding: 4px 2px 4px 0px;
    text-decoration: none;
    font-size: 16px;
    color: #3553d8;
    display: block;
    transition: .3s;
  }
  .sidenav a:hover{
    background-color:  #337ab7; 
    color:#ffff;
    text-decoration: none;
  }
  .mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 0px;
    display: block;
  }