<mat-toolbar color="primary" style="height: 35px;">
  <button mat-icon-button (click)="sidenav.toggle() ">
    <mat-icon>menu</mat-icon>
  </button>
  <h4>cQube - Dashboard </h4>
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button color="primary" style="padding: 1.5px;" (click)="logout()">Log Out</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list style="font-family: Arial;" class=sidenav>
      <mat-toolbar style="height: 80px; background-color: white; border-bottom: 1px solid lightgray;">
        <mat-toolbar-row style="color: rgb(84, 116, 223);">
          <span class="span" style="font-size: 15px;"><b>Logged in as: </b><br>
            <span>{{email}}</span></span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div *ngIf="showsideMenu">

      </div>
      <div *ngIf="!showsideMenu">
        <a mat-list-item (click)="sidenav.toggle()" style="border-bottom: 1px solid lightgray; font-family: Arial;"
          [routerLink]="['attendance-report']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp; Student Attendance Report </td>
        </a>

        <a mat-list-item (click)="sidenav.toggle()" style="border-bottom: 1px solid lightgray;font-family: Arial;"
          [routerLink]="['crc-report']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp; CRC Report </td>

        </a>
        <a mat-list-item (click)="sidenav.toggle()" style="border-bottom: 1px solid lightgray; font-family: Arial;"
          [routerLink]="['teacher-attendance']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp;Teacher Attendance Report</td>
        </a>
        <a mat-list-item (click)="sidenav.toggle()" style="font-family: Arial; border-bottom: 1px solid lightgray;"
          [routerLink]="['semester-report']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp;Semester Report</td>
        </a>
        <a mat-list-item (click)="sidenav.toggle()" style="font-family: Arial; border-bottom: 1px solid lightgray;"
          [routerLink]="['school-infrastructure']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp;School Infrastructure</td>
        </a>
      </div>

      <span class="toolbar-filler"></span>
      <mat-list>
        <mat-list-item class="abc">

          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;
            <button mat-button mat-icon-button (click)="showSubmenu = !showSubmenu"> <span>User</span>
              <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
            </button>
          </td>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
          <a *ngIf="showCreateUser" mat-list-item (click)="sidenav.toggle()" style="font-family: Arial;  
          border-bottom: 1px solid lightgray;" [routerLink]="['addUser']"><span style="margin-left: 40px;">Create
              User</span> </a>
          <a mat-list-item (click)="sidenav.toggle()" style="font-family: Arial; border-bottom: 1px solid lightgray;"
            [routerLink]="['changePassword']"><span style="margin-left: 40px;">Change Password</span></a>
        </div>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 93vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>