<mat-toolbar color="primary" style="height: 35px;">
  <button mat-icon-button (click)="sidenav.toggle()" id="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <h4>cQube - Dashboard </h4>
  <span style="flex: 1 1 auto;"></span>
  <span id="backBtn" class="headerBtn"
    style="padding: 1.5px; cursor: pointer; font-size: 13px; margin-right: 2%;display: none;"
    [routerLink]="['/homePage']">
    <strong>Back</strong>
  </span>
  <span id="homeBtn" class="headerBtn"
    style="padding: 1.5px; cursor: pointer; font-size: 13px; margin-right: 2%;display: none;" [routerLink]="['/home']">
    <strong>Home</strong>
  </span>
  <span id="logout" class="headerBtn" style="padding: 1.5px; cursor: pointer; font-size: 13px;" (click)="logout()">
    <strong> Logout</strong>
  </span>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list style="font-family: Arial;" class=sidenav>
      <mat-toolbar style="height: 80px; background-color: white; border-bottom: 1px solid lightgray;">
        <mat-toolbar-row style="color: rgb(84, 116, 223);">
          <span class="span" style="font-size: 15px;"><strong>Logged in as: </strong><br>
            <span>{{email}}</span></span>
        </mat-toolbar-row>
      </mat-toolbar>

      <div *ngIf="!showsideMenu">
        <a id="SAR" mat-list-item (click)="sidenav.toggle()"
          style="border-bottom: 1px solid lightgray; font-family: Arial;" [routerLink]="['attendance-report']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp; Student Attendance Report </td>
        </a>

        <a id="crcr" mat-list-item (click)="sidenav.toggle()"
          style="border-bottom: 1px solid lightgray;font-family: Arial;" [routerLink]="['crc-report']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp; CRC Report </td>
        </a>

        <a id="tar" mat-list-item (click)="sidenav.toggle()"
          style="border-bottom: 1px solid lightgray; font-family: Arial;" [routerLink]="['teacher-attendance']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp;Teacher Attendance Report</td>
        </a>
        <a id="sr" mat-list-item (click)="sidenav.toggle()"
          style="font-family: Arial; border-bottom: 1px solid lightgray;" [routerLink]="['semester-report']">
          <td>
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
          </td>
          <td>
            &nbsp;&nbsp;Semester Report</td>
        </a>
        <mat-nav-list>
          <mat-list-item (click)="showSubmenu = !showSubmenu" class="abc1"
            style="font-family: Arial; border-bottom: 1px solid lightgray;">
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
            <span class="full-width" *ngIf="isExpanded || isShowing" style=" margin-left: 4%; "> School
              Infrastructure</span>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
              expand_more</mat-icon>
          </mat-list-item>
          <div class="submenu1" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
            <a mat-list-item [routerLink]="['school-infra-map']" (click)="sidenav.toggle() " id="mapReport"
              (click)="showSubmenu = !showSubmenu"><span style="margin-left: 50px;">Map
                based Report</span></a>
            <a mat-list-item [routerLink]="['school-infrastructure']" (click)="sidenav.toggle()" id="tblReport"
              (click)="showSubmenu = !showSubmenu"><span style="margin-left: 50px;">Report</span></a>
          </div>
        </mat-nav-list>
        <mat-nav-list *ngIf="showUser">
          <mat-list-item (click)="showSubmenu1 = !showSubmenu1" class="abc1"
            style="font-family: Arial; border-bottom: 1px solid lightgray;">
            <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
            <span class="full-width" *ngIf="isExpanded || isShowing" id="usr" style=" margin-left: 4%;"> User </span>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu1}" *ngIf="isExpanded || isShowing">
              expand_more</mat-icon>
          </mat-list-item>
          <div class="submenu" [ngClass]="{'expanded' : showSubmenu1}" *ngIf="isShowing || isExpanded">
            <a mat-list-item [routerLink]="['changePassword']" id="chPass" (click)="sidenav.toggle()"
              (click)="showSubmenu1 = !showSubmenu1"><span style="margin-left: 50px;">Change
                Password</span></a>
          </div>
        </mat-nav-list>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 93vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>