.outerDiv{
    height: 70px; 
    width: 180px; 
    margin-bottom: 10px; 
    text-align: center;
}

.innerDiv1{
    border-top: 1px solid black; 
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    height: 20px; 
    width: 180px;
    background-color: powderblue;
}

.innerDiv2{
    border: 1px solid black; 
    height: 40px; 
    width: 180px; 
    background-color: rgb(243, 192, 187);
}

.logo {
    padding: 10px 10px 0 10px;
    float: right;
  }
  
  .name {
    font-size: 14px;
    color: #333;
    padding-top: 15px;
  }
  .head{
      left: 0;
      right: 0;
      position: relative;
  }
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
 }