.validation-message{
    color: red;
}
input[type=text].invalid-textbox,input[type=password].invalid-textbox{
    border-bottom: 2px solid #ed5558;
    }

div, button, a , span{
    font-family: Arial;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
