<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2 id="head" style="text-align: center; margin: 20px 0px 20px 0px; color: #284d8a;">Create User
                    </h2>
                    <p id="err" class="validation-message">{{err}}</p>
                    <p id="success"
                        style="background-color: green;color: white; padding: 5px 0px 5px 0px;border-radius: 5px; display: none; text-align: center;">
                        {{msg}}</p>
                </div>
            </div>
            <form class="user" #formData="ngForm" (ngSubmit)="formData.valid && onSubmit(formData)"
                style="padding: 0px 25px 0px 25px;">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div
                            style="margin: 0px auto; width: 170px;text-align: justify;font-size: 14px; color: rgb(107, 107, 107);padding: 5%; background-color: rgb(241, 241, 241);border-radius: 3%;">
                            <em style="font-weight: bold;" class="fa fa-hand-o-right"></em> &nbsp; The Create User
                            Screen allows you to add new users who can login to your site.
                            Enter the required information and click on 'Create User'.
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-bottom: 15px;">
                                    <label for="username" style="color: blue; font-family: Arial;">Enter the Username
                                        <span style="color:red">*</span></label>
                                    <input id="username" type="text" #username="ngModel" [(ngModel)]="logData.username"
                                        class="form-control form-control-user" name="username" required
                                        [ngClass]="{'invalid-textbox' :formData.submitted && !username.valid }">
                                    <div *ngIf="formData.submitted && username?.errors">
                                        <label *ngIf="username.errors.required" class="validation-message">This field is
                                            required</label>
                                    </div>
                                    <label *ngIf="errUsername" class="validation-message">{{errUsername}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-bottom: 15px;">
                                    <label for="roleid" style="color: blue; font-family: Arial;">Select the
                                        Role <span style="color:red">*</span></label><br>
                                    <select class="dwnld" required id="role"
                                        style="padding: 9px;width: 100%; color: rgb(2, 2, 2); border-radius: 4px;border: 1px solid rgb(199, 196, 196); margin: 0px 0px 2px 0px; font-size: 13px; background-color: rgb(255, 255, 255);"
                                        #role="ngModel" [(ngModel)]="logData.roleid" name="roleid"
                                        (change)="onSelectRole()">
                                        <option [value]="logData.roleid" disabled selected> Select role
                                        </option>
                                        <option *ngFor="let rl of roleIds, let i = index" [(ngValue)]="rl.id">
                                            {{rl.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="formData.submitted && role?.errors">
                                        <label *ngIf="role.errors.required" class="validation-message">This
                                            field is required</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div *ngIf="!hidePassword" class="form-group" style="margin-bottom: 15px;">
                                    <label for="password" style="color: blue; font-family: Arial;">Password <span
                                            style="color:red">*</span></label>
                                    <input type="password" id="passswd" #cnfpass="ngModel" [(ngModel)]="logData.cnfpass"
                                        name="cnfpass" class="form-control form-control-user" minlength="8" required
                                        [ngClass]="{'invalid-textbox':formData.submitted && !cnfpass.valid}">
                                    <div *ngIf="formData.submitted && cnfpass?.errors">
                                        <label *ngIf="cnfpass.errors.required" class="validation-message">This field is
                                            required</label>
                                        <label *ngIf="cnfpass.errors.minlength" class="validation-message">Enter atleast
                                            8 characters</label>
                                    </div>
                                    <span style="color: gray; font-size: 10px;line-height: 0.6"><strong>Note:
                                        </strong>Password
                                        should contain atleast 1 special character, 1 uppercase, 1 lowercase, 1 digit
                                        and
                                        minimum 8
                                        characters</span>
                                </div>
                                <div *ngIf="showToken">
                                    <label for="token" style="color: blue; font-family: Arial;">Token </label>
                                    <textarea name="token" id="" disabled cols="43" rows="5" [value]="token"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                        <button *ngIf="!showToken" id="btn" style="background-color: #0549dd;" class="btn btn-primary btn-user btn-block"
                            type="submit">
                            Create User
                        </button>
                        <button *ngIf="showToken" id="btn" class="btn btn-secondary btn-user btn-block" type="reset"
                            (click)=resetForm(formData)>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="spinner" style="display: none;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>