<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h2>Nifi Logs(last 200 lines) </h2>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-secondary" style="float: right; margin-top: 0.5%; font-size: 12px;"
                (click)="downloadNodeLog()">Download complete logs</button>
        </div>
    </div>
    <hr style="line-height: 0.6em;">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <pre>{{logs}}</pre>
            </div>
        </div>
    </div>
</div>