#footer{
    width:100%; 
    background-color: rgb(152, 160, 163);
    font-size: 13px;
    font-weight: bold; 
    color: white; 
    margin: 0px 0px 0px 0px; 
    padding: 2px 0px 2px 0px;
    position: fixed; 
    bottom: 0; 
    left: 0;
    z-index: 999;
}

#outer{
    border-radius: 15px; 
    background-color: #f5f6fb; 
    height: 22px; 
    width: 150px; 
    border: 1px solid gray;
    font-size: 13px;
}
#absolute{
    border-radius: 15px; 
    height: 20px;
     width: 50%;  
     float: left; 
     cursor: pointer;
}
#relative{
    border-radius: 15px; 
    height: 20px; 
    width: 50%;
    float: left;
    cursor: pointer;
}

#dist, #block,#cluster,#school{
    color: #284d8a;
    font-size: 18px; 
    line-height: 1.2em; 
    margin-top: 5px;
}

#errMsg{
    display: none; 
    text-align: center;
    line-height: 1.2em; 
    font-size: 12px; 
    margin-top: 3%;
}

#download{
    cursor: pointer;
    font-size: 27px; 
    float: right;
    margin: 5px 0px 0px 8px;
    color: #3100cc;
}

#home{
    cursor: pointer;
    font-size: 30px; 
    float: right;
    margin: 2px 0px 0px 0px; 
    color: #3100cc; 
    display: none;
}

#udiseHealthcard{
    font-weight: bold; 
    text-decoration: underline; 
    font-size: 13px; 
    color: #3100cc
}

#note{
    text-align: justify; 
    font-size: 11px;
}

#blockbtn, #clusterbtn, #schoolbtn{
    margin-right: 15px;
    font-size: 11px; 
    width: 65px;
    padding: 4.2px; 
    background-color: rgb(152, 160, 163);
}

#choose_dist, #choose_block, #choose_cluster, #choose_infra{
    margin-right: 15px;
    padding: 5px; 
    color: white; 
    border-radius: 4px; 
    font-size: 11px; 
    font-weight: bold; 
    background-color: rgb(152, 160, 163)
}

.legends{
    width: 42%;
    height: 5vh;
    font-size: 11px;
    margin:0.4vh;
    padding-top: 0.7vh;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

#legend{
    font-size: 12px;
    font-weight: bold;
}


@media screen and (min-width: 2560px) {
    #footer{
        width:100%; 
        background-color: rgb(152, 160, 163);
        font-size: 20px !important;
        font-weight: bold; 
        color: white; 
        margin: 5px 0px 0px 0px; 
        padding: 2px 0px 2px 0px;
        position: fixed; 
        bottom: 0; 
        left: 0;
        z-index: 999;
    }
    
    #outer{
        border-radius: 18px; 
        background-color: #f5f6fb; 
        height: 42px !important; 
        width: 230px !important;
        border: 1px solid gray;
        font-size: 20px !important;
    }
    #absolute{
        border-radius: 18px; 
        height: 38px !important;
         width: 50%;  
         float: left; 
         cursor: pointer;
    }
    #relative{
        border-radius: 18px; 
        height: 38px !important;
        width: 50%;
        float: left;
        cursor: pointer;
    }

    #dist, #block,#cluster,#school{
        color: #284d8a;
        font-size: 30px !important; 
        line-height: 1.2em; 
        margin-top: 5px;
    }

    #download{
    cursor: pointer;
    font-size: 40px !important; 
    float: right;
    margin: 3px 0px 0px 8px;
    color: #3100cc;
 }

 #home{
    cursor: pointer;
    font-size: 42px !important; 
    float: right;
    margin: 2px 0px 0px 0px; 
    color: #3100cc; 
    display: none;
 }
 #udiseHealthcard{
    font-weight: bold; 
    text-decoration: underline; 
    font-size: 20px !important; 
    color: #3100cc
 }
 
 #note{
    text-align: justify; 
    font-size: 19px !important;
 }
 #choose_dist, #choose_block, #choose_cluster, #choose_infra{
    margin-right: 15px;
    padding: 8px !important; 
    color: white; 
    border-radius: 4px; 
    font-size: 18px !important; 
    font-weight: bold; 
    background-color: rgb(152, 160, 163)
}

#blockbtn, #clusterbtn, #schoolbtn{
    margin-right: 15px; 
    font-size: 18px !important; 
    width: 120px !important;
    padding: 5.6px !important; 
    background-color: rgb(152, 160, 163);
}

.legends{
    width: 42%;
    height: 5vh;
    font-size: 24px !important;
    margin:0.9vh !important;
    padding-top: 1vh !important;
    text-align: center;
    border-radius: 15px !important;
    font-weight: bold;
}

#legend{
    font-size: 26px;
    font-weight: bold;
}

}

@media screen and (min-width: 1920px) {
    #footer{
        width:100%; 
        background-color: rgb(152, 160, 163);
        font-size: 16px;
        font-weight: bold; 
        color: white; 
        margin: 5px 0px 0px 0px;
        padding: 2px 0px 2px 0px;
        position: fixed; 
        bottom: 0; 
        left: 0;
        z-index: 999;
    }
    
    #outer{
        border-radius: 15px; 
        background-color: #f5f6fb; 
        height: 34px; 
        width: 190px; 
        border: 1px solid gray;
        font-size: 16px;
    }
    #absolute{
        border-radius: 15px; 
        height: 32px;
        width: 50%;  
        float: left; 
        cursor: pointer;
    }
    #relative{
        border-radius: 15px; 
        height: 32px; 
        width: 50%;
        float: left;
        cursor: pointer;
    }

    #dist, #block,#cluster,#school{
        color: #284d8a;
        font-size: 22px; 
        line-height: 1.2em; 
        margin-top: 5px;
    }

    #download{
        cursor: pointer;
        font-size: 38px;
        float: right;
        margin: 3px 0px 0px 8px;
        color: #3100cc;
    }
    
    #home{
        cursor: pointer;
        font-size: 40px; 
        float: right;
        margin: 2px 0px 0px 0px; 
        color: #3100cc; 
        display: none;
    }
    #udiseHealthcard{
        font-weight: bold; 
        text-decoration: underline; 
        font-size: 18px; 
        color: #3100cc
    }
    #note{
        text-align: justify; 
        font-size: 15px;
     }
     #choose_dist, #choose_block, #choose_cluster, #choose_infra{
        margin-right: 15px;
        padding: 7.2px; 
        color: white; 
        border-radius: 4px; 
        font-size: 16px; 
        font-weight: bold; 
        background-color: rgb(152, 160, 163)
    }

    #blockbtn, #clusterbtn, #schoolbtn{
        margin-right: 15px; 
        font-size: 16px; 
        width: 100px;
        padding: 5px; 
        background-color: rgb(152, 160, 163);
    }
    
    .legends{
        width: 42%;
        height: 5vh;
        font-size: 20px;
        margin:0.7vh;
        padding-top: 0.8vh;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
    }
    
    #legend{
        font-size: 22px;
        font-weight: bold;
    }
}