<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h4 id="head" style=" color: #284d8a;;">Users List</h4>
            <p id="err">{{err}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- <div style="border: 1px solid gray; padding: 1%;"> -->
            <table #DataTable id="table" class="display nowrap" width="100%"
                style="font-size: 11px; text-align: center;">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>User Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData">
                        <td>{{data.username}}</td>
                        <td> {{data.roleName}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- </div> -->
        </div>
    </div>
</div>
<div id="spinner" style="display: block;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>