export const environment = {
  production: false,
  apiEndpoint: "https://{{ api_endpoint }}/api",
  adminUrl: "http://{{ local_ipv4_address }}:4201",
  keycloakUrl: "https://{{ api_endpoint }}/auth",
  realm: "",
  clientId: ""
};
