export const environment = {
  production: false,
  apiEndpoint: "https://{{ api_endpoint }}/api",
  appUrl: "https://{{ api_endpoint }}", 
  adminUrl: "http://{{ local_ipv4_address }}:4201",
  keycloakUrl: "https://{{ api_endpoint }}/auth",
  realm: "{{ realm_name }}",
  clientId: "{{ angular_app_client_id }}",
  stateName: "{{ state_code }}",
  diksha_columns: {% if diksha_columns == True %}true{% endif %}{% if diksha_columns == False %}false{% endif %}
};
