  /* .legends{
    width: 85%;
    height: 5vh;
    font-size: 11px;
    margin:0.4vh 0.4vh 0.4vh 0vh;
    padding-top: 0.7vh;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
  }
  
  #legend{
    font-size: 12px;
    font-weight: bold;
  }
  
  #legendNote{ 
    font-size: 12px;
    margin-bottom: -3px;
  }
  
  @media screen and (min-width: 1500px){
    .legends{
      width: 85%;
      height: 5vh;
      font-size: 12px;
      margin:0.53vh 0.53vh 0.53vh 0vh;
      padding-top: 0.9vh ;
      text-align: center;
      border-radius: 10px;
      font-weight: bold;
    }
    
    #legend{
      font-size: 13px;
      font-weight: bold;
    }
    
    #legendNote{ 
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
  
  @media screen and (min-width: 1700px){
    .legends{
      width: 85%;
      height: 5vh;
      font-size: 14px;
      margin:0.62vh 0.62vh 0.62vh 0vh;
      padding-top: 0.9vh;
      text-align: center;
      border-radius: 10px;
      font-weight: bold;
    }
    
    #legend{
      font-size: 15px;
      font-weight: bold;
    }
    
    #legendNote{ 
      font-size: 16px;
      margin-bottom: 0px;
    }
  }
  
  
  @media screen and (min-width: 1920px) {
    .legends{
        width: 85%;
        height: 5vh;
        font-size: 20px;
        margin:0.7vh 0.7vh 0.7vh 0vh;
        padding-top: 0.8vh;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
    }
    
    #legend{
        font-size: 20px;
        font-weight: bold;
    }
  
    #legendNote{
      font-size: 16px;
    }
  
    #errMsg{
      text-align: center;
      line-height: 1.2em; 
      font-size: 18px; 
      margin-top: 3%;
    }
  }
  
@media screen and (min-width: 2560px) {
  .legends{
    width: 85%;
    height: 5vh;
    font-size: 24px !important;
    margin:0.8vh 0.8vh 0.8vh 0vh !important;
    padding-top: 1vh !important;
    text-align: center;
    border-radius: 15px !important;
    font-weight: bold;
  }
  
  #legend{
    font-size: 26px;
    font-weight: bold;
  }
  #legendNote{ 
    font-size: 22px;
  }
  #errMsg{
    text-align: center;
    line-height: 1.2em; 
    font-size: 22px; 
    margin-top: 3%;
  }
  
  }
  
@media screen and (min-width: 3820px) {
  .legends{
    width: 85% !important;
    height: 5vh;
    font-size: 32px !important;
    margin:1.2vh 1.2vh 1.2vh 0vh !important;
    padding-top: 1.3vh !important;
    text-align: center;
    border-radius: 20px !important;
    font-weight: bold;
  }
  
  #legend{
    font-size: 32px;
    font-weight: bold;
  }
  
  #legendNote{ 
    font-size: 32px;
  }
  
  #errMsg{
    text-align: center;
    line-height: 1.2em; 
    font-size: 26px; 
    margin-top: 3%;
  }
} */