<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <img src="./assets/rsz_1rsz_cqube_solid_updated.png" alt="cQube logo" style="padding: 10px;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2 style="text-align: center; margin: 20px 0px 30px 0px; color: #284d8a;">cQube</h2>
            <p class="validation-message">{{err}}</p>
            <form class="user" #formData="ngForm" (ngSubmit)="formData.valid && onSubmit(formData.value)"
                style="padding: 0px 25px 0px 25px;">
                <div class="form-group">
                    <label for="email" style="color: blue; font-family: Arial;">Enter your email address</label>
                    <input type="text" #email="ngModel" [(ngModel)]="logData.email"
                        class="form-control form-control-user" id="exampleInputEmail" name="email"
                        aria-describedby="emailHelp" required [pattern]="emailRegex"
                        [ngClass]="{'invalid-textbox' :formData.submitted && !email.valid }">
                    <div *ngIf="formData.submitted && email?.errors">
                        <label *ngIf="email.errors.required" class="validation-message">This field is
                            required</label>
                        <label *ngIf="email.errors.pattern" class="validation-message">Invalid email
                            address</label>
                    </div>
                </div>


                <div class="form-group">
                    <label for="password" style="color: blue; font-family: Arial;">Password</label> <span
                        style="float: right;">forgot?</span>
                    <input type="password" #cnfpass="ngModel" [(ngModel)]="logData.cnfpass" name="cnfpass"
                        class="form-control form-control-user" id="exampleInputPassword" minlength="4" required
                        [ngClass]="{'invalid-textbox':formData.submitted && !cnfpass.valid}">
                    <div *ngIf="formData.submitted && cnfpass?.errors">
                        <label *ngIf="cnfpass.errors.required" class="validation-message">This field is
                            required</label>
                        <label *ngIf="cnfpass.errors.minlength" class="validation-message">Enter atleast
                            4 characters</label>
                    </div>
                </div>
                <button style="background-color: #0549dd;" class="btn btn-primary btn-user btn-block" type="submit">
                    Login
                </button>
                <a style="background-color: blue; font-weight: bold; line-height: 4em; color: white; text-decoration: none; border-radius: 5px; padding: 5px; margin-top: 50px;"
                    [routerLink]="['/user-view']">Click here
                </a>
                <span style="color: blue;">&nbsp; if you do not have login credentials</span>
            </form>

        </div>
    </div>
</div>