.botton:hover{
    color: white;
}

.botton{
    font-size: 13px; 
    width: 100px; 
    color: black; 
    float: left;
    /* margin: 0px auto; */
    margin: 0px 0px 15px 0px;
    padding: 6px; 
    background-color: #f5f6fb;
}

@media only screen and (max-width: 768px) {
	#first {
		order: 2;
	}
	#second {
		order: 4;
	}
	#third {
		order: 1;
	}
	#fourth {
		order: 3;
	}
}


#selected{
	border-radius: 5px; 
	background-color: #f5f6fb; 
	height: 34px; 
	width: 100%; 
	border: 1px solid gray;
	font-size: 13px;
}

#districtSelect, #blockSelect, #clusterSelect{
	border-radius: 5px; 
	height: 32px; 
	width: 33.33%;  
	float: left;
}

.chooseLevel{
	line-height: 1.2em; 
	font-size: 13px;
	font-weight: bold;
}

#choose_district, #choose_blok, #choose_clust , #x_axis, #y_axis{
	padding: 7px;
	width: 100%; 
	border-radius: 4px; 
	font-size: 13px; 
	font-weight: bold; 
	background-color: #f5f6fb;
}

#allBlock, #allCluster{
	width:100%;
	font-size: 13px;
	
}

@media screen and (min-width: 1920px){
	#selected{
		border-radius: 5px; 
		background-color: #f5f6fb; 
		height: 38px; 
		width: 100%; 
		border: 1px solid gray;
		font-size: 16px;
	}
	
	#districtSelect, #blockSelect, #clusterSelect{
		border-radius: 6px; 
		height: 35px; 
		width: 33.33%;  
		float: left;
	}
	
	.chooseLevel{
		line-height: 1.2em; 
		font-size: 18px;
		font-weight: bold;
	}
	
	#choose_district, #choose_blok, #choose_clust , #x_axis, #y_axis{
		padding: 8px;
		width: 100%; 
		border-radius: 6px; 
		font-size: 18px; 
		font-weight: bold; 
		background-color: #f5f6fb;
	}
	#allBlock, #allCluster{
		width:100%;
		font-size: 18px;
	}
}

@media screen and (min-width: 2520px){
	#selected{
		border-radius: 6px; 
		background-color: #f5f6fb; 
		height: 42px; 
		width: 100%; 
		border: 1px solid gray;
		font-size: 22px;
	}
	
	#districtSelect, #blockSelect, #clusterSelect{
		border-radius: 6px; 
		height: 38px; 
		width: 33.33%;  
		float: left;
	}
	
	.chooseLevel{
		line-height: 1.2em; 
		font-size: 22px;
		font-weight: bold;
	}
	
	#choose_district, #choose_blok, #choose_clust , #x_axis, #y_axis{
		padding: 8px;
		width: 100%; 
		border-radius: 8px; 
		font-size: 22px;
		font-weight: bold; 
		background-color: #f5f6fb;
	}
	#allBlock, #allCluster{
		width:100%;
		font-size: 22px;
	}
}

@media screen and (min-width: 3820px){
	#selected{
		border-radius: 15px !important; 
		background-color: #f5f6fb; 
		height: 52px !important; 
		width: 100%; 
		border: 1px solid gray;
		font-size: 26px !important;
	}
	
	#districtSelect, #blockSelect, #clusterSelect{
		border-radius: 15px !important; 
		height: 46px !important; 
		width: 33.33%;  
		float: left;
	}
	
	.chooseLevel{
		line-height: 1.2em; 
		font-size: 26px !important;
		font-weight: bold;
	}
	
	#choose_district, #choose_blok, #choose_clust , #x_axis, #y_axis{
		padding: 9px;
		width: 100%; 
		border-radius: 10px; 
		font-size: 26px !important; 
		font-weight: bold; 
		background-color: #f5f6fb;
	}
	#allBlock, #allCluster{
		width:100%;
		font-size: 26px !important;
	}
}

