@import "~leaflet/dist/leaflet.css";
<<<<<<< HEAD
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

/* @import "./assets/styles.json"; */

=======
>>>>>>> upstream/cQube-release-0.12
/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", Arial; }

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leaflet-bottom, leaflet-right{
  display: none;
}



