@import "~leaflet/dist/leaflet.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

/* @import "./assets/styles.json"; */

/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Arial !important; font-size: 20px;}

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
.leaflet-bottom, leaflet-right{
  display: none;
}

.leaflet-popup-content{
  width: 250px auto;
}

@media screen and (min-width: 1920px) {
  .leaflet-popup-content{
    min-width: 350px !important;
    font-size: 16px;
  }
}

@media screen and (min-width: 2560px) {
  .leaflet-popup-content{
    min-width: 420px !important;
    font-size: 18px;
  }
}

@media screen and (min-width: 3820px) {
  .leaflet-popup-content{
    min-width: 580px !important;
    font-size: 26px;
  }
}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  margin-top: 35px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}


@media screen and (min-width: 1920px){
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    margin-top: 55px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
}

@media screen and (min-width: 2560px){
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    margin-top: 65px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
}


/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#scrolly{
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap
}


/*//////////////////////////////////////////////////////////////////*/

#footer{
  width:100%; 
  background-color: rgb(152, 160, 163);
  font-size: 13px;
  font-weight: bold; 
  color: white; 
  margin: 0px 0px 0px 0px; 
  padding: 2px 0px 2px 0px;
  position: fixed; 
  bottom: 0; 
  left: 0;
  z-index: 999;
}

#outer{
  border-radius: 15px; 
  background-color: #f5f6fb; 
  height: 22px; 
  width: 150px; 
  border: 1px solid gray;
  font-size: 13px;
}
#absolute{
  border-radius: 15px; 
  height: 20px;
   width: 50%;  
   float: left; 
   cursor: pointer;
}
#relative{
  border-radius: 15px; 
  height: 20px; 
  width: 50%;
  float: left;
  cursor: pointer;
}

#dist, #block,#cluster,#school{
  color: #284d8a;
  font-size: 18px; 
  line-height: 1.2em; 
  margin-top: 5px;
}

#errMsg{
  text-align: center;
  line-height: 1.2em; 
  font-size: 12px; 
  margin-top: 3%;
}

#download{
  cursor: pointer;
  font-size: 27px; 
  float: right;
  margin: 5px 0px 0px 8px;
  color: #3100cc;
}

#home{
  cursor: pointer;
  font-size: 30px; 
  float: right;
  margin: 2px 0px 0px 0px; 
  color: #3100cc; 
  display: none;
}

#patHealthcard, #infraHealthcard, #satHealthcard, #udiseHealthcard, #stdHealthCard, #downloadRaw{
  font-weight: bold; 
  text-decoration: underline; 
  font-size: 13px; 
  color: #3100cc
}

#note, #students, #schools, #dateRange{
  text-align: justify; 
  font-size: 11px;
}

#blockbtn, #clusterbtn, #schoolbtn{
  margin-right: 15px;
  font-size: 11px; 
  width: 75px;
  padding: 4px; 
  background-color: rgb(152, 160, 163);
}

#choose_dist, #choose_block,#period,#grades,#subjects,#choose_semester, #choose_cluster, #choose_infra, #academicYear,#year, #month{
  margin-right: 15px;
  padding: 5px; 
  color: white; 
  border-radius: 4px; 
  font-size: 11px; 
  font-weight: bold; 
  background-color: rgb(152, 160, 163)
}

.legends{
  /* color: #f5f6fb !important; */
  width: 85%;
  height: 5vh;
  font-size: 11px;
  margin:0.4vh 0.4vh 0.4vh 0vh;
  padding-top: 0.7vh;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

#legend{
  font-size: 12px;
  font-weight: bold;
}

#legendNote{ 
  font-size: 12px;
  margin-bottom: -3px;
}

@media screen and (min-width: 1500px){
  .legends{
    /* color: #f5f6fb !important; */
    width: 85%;
    height: 5vh;
    font-size: 12px;
    margin:0.53vh 0.53vh 0.53vh 0vh;
    padding-top: 0.9vh ;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
  }
  
  #legend{
    font-size: 13px;
    font-weight: bold;
  }
  
  #legendNote{ 
    font-size: 14px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1700px){
  .legends{
    /* color: #f5f6fb !important; */
    width: 85%;
    height: 5vh;
    font-size: 14px;
    margin:0.62vh 0.62vh 0.62vh 0vh;
    padding-top: 0.9vh;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
  }
  
  #legend{
    font-size: 15px;
    font-weight: bold;
  }
  
  #legendNote{ 
    font-size: 16px;
    margin-bottom: 0px;
  }
}


@media screen and (min-width: 1920px) {
  #footer{
      width:100%; 
      background-color: rgb(152, 160, 163);
      font-size: 16px;
      font-weight: bold; 
      color: white; 
      margin: 5px 0px 0px 0px;
      padding: 2px 0px 2px 0px;
      position: fixed; 
      top: 2;
      bottom: 0; 
      left: 0;
      z-index: 999;
  }
  
  #outer{
      border-radius: 15px; 
      background-color: #f5f6fb; 
      height: 34px; 
      width: 190px; 
      border: 1px solid gray;
      font-size: 16px;
  }
  #absolute{
      border-radius: 15px; 
      height: 32px;
      width: 50%;  
      float: left; 
      cursor: pointer;
  }
  #relative{
      border-radius: 15px; 
      height: 32px; 
      width: 50%;
      float: left;
      cursor: pointer;
  }

  #dist, #block,#cluster,#school{
      color: #284d8a;
      font-size: 22px; 
      line-height: 1.2em; 
      margin-top: 5px;
  }

  #download{
      cursor: pointer;
      font-size: 38px;
      float: right;
      margin: 3px 0px 0px 8px;
      color: #3100cc;
  }
  
  #home{
      cursor: pointer;
      font-size: 40px; 
      float: right;
      margin: 2px 0px 0px 0px; 
      color: #3100cc; 
      display: none;
  }
  #patHealthcard, #infraHealthcard, #satHealthcard, #udiseHealthcard, #stdHealthCard, #downloadRaw{
      font-weight: bold; 
      text-decoration: underline; 
      font-size: 18px; 
      color: #3100cc
  }
  #note, #students, #schools, #dateRange{
      text-align: justify; 
      font-size: 15px;
   }
   #choose_dist, #choose_block,#period,#grades,#subjects,#choose_semester, #choose_cluster, #choose_infra, #academicYear,#year, #month{
      margin-right: 15px;
      padding: 7.2px; 
      color: white; 
      border-radius: 4px; 
      font-size: 16px; 
      font-weight: bold; 
      background-color: rgb(152, 160, 163)
  }

  #blockbtn, #clusterbtn, #schoolbtn{
      margin-right: 15px; 
      font-size: 16px; 
      width: 120px;
      padding: 5.2px; 
      background-color: rgb(152, 160, 163);
  }
  
  .legends{
      width: 85%;
      height: 5vh;
      font-size: 20px;
      margin:0.7vh 0.7vh 0.7vh 0vh;
      padding-top: 0.8vh;
      text-align: center;
      border-radius: 10px;
      font-weight: bold;
  }
  
  #legend{
      font-size: 20px;
      font-weight: bold;
  }

  #legendNote{
    font-size: 16px;
  }

  #errMsg{
    text-align: center;
    line-height: 1.2em; 
    font-size: 18px; 
    margin-top: 3%;
  }
}

@media screen and (min-width: 2560px) {
  #footer{
      width:100%; 
      background-color: rgb(152, 160, 163);
      font-size: 20px !important;
      font-weight: bold; 
      color: white; 
      margin: 5px 0px 0px 0px; 
      padding: 2px 0px 2px 0px;
      position: fixed; 
      top: 2;
      bottom: 0; 
      left: 0;
      z-index: 999;
  }
  
  #outer{
      border-radius: 18px; 
      background-color: #f5f6fb; 
      height: 42px !important; 
      width: 230px !important;
      border: 1px solid gray;
      font-size: 20px !important;
  }
  #absolute{
      border-radius: 18px; 
      height: 38px !important;
       width: 50%;  
       float: left; 
       cursor: pointer;
  }
  #relative{
      border-radius: 18px; 
      height: 38px !important;
      width: 50%;
      float: left;
      cursor: pointer;
  }

  #dist, #block,#cluster,#school{
      color: #284d8a;
      font-size: 30px !important; 
      line-height: 1.2em; 
      margin-top: 5px;
  }

  #download{
  cursor: pointer;
  font-size: 40px !important; 
  float: right;
  margin: 3px 0px 0px 8px;
  color: #3100cc;
}

#home{
  cursor: pointer;
  font-size: 42px !important; 
  float: right;
  margin: 2px 0px 0px 0px; 
  color: #3100cc; 
  display: none;
}
#patHealthcard, #infraHealthcard, #satHealthcard, #udiseHealthcard, #stdHealthCard, #downloadRaw{
  font-weight: bold; 
  text-decoration: underline; 
  font-size: 20px !important; 
  color: #3100cc
}

#note, #students, #schools, #dateRange{
  text-align: justify; 
  font-size: 19px !important;
}
#choose_dist, #choose_block,#period,#grades,#subjects,#choose_semester, #choose_cluster, #choose_infra, #academicYear,#year, #month{
  margin-right: 15px;
  padding: 8px !important; 
  color: white; 
  border-radius: 4px; 
  font-size: 18px !important; 
  font-weight: bold; 
  background-color: rgb(152, 160, 163)
}

#blockbtn, #clusterbtn, #schoolbtn{
  margin-right: 15px; 
  font-size: 18px !important; 
  width: 130px !important;
  padding: 5.7px !important; 
  background-color: rgb(152, 160, 163);
}

.legends{
  width: 85%;
  height: 5vh;
  font-size: 24px !important;
  margin:0.8vh 0.8vh 0.8vh 0vh !important;
  padding-top: 1vh !important;
  text-align: center;
  border-radius: 15px !important;
  font-weight: bold;
}

#legend{
  font-size: 26px;
  font-weight: bold;
}
#legendNote{ 
  font-size: 22px;
}
#errMsg{
  text-align: center;
  line-height: 1.2em; 
  font-size: 22px; 
  margin-top: 3%;
}

}

@media screen and (min-width: 3820px) {
  #footer{
      width:100%; 
      background-color: rgb(152, 160, 163);
      font-size: 24px !important;
      font-weight: bold; 
      color: white; 
      margin: 5px 0px 0px 0px; 
      padding: 2px 0px 2px 0px;
      position: fixed; 
      top: 2;
      bottom: 0; 
      left: 0;
      z-index: 999;
  }
  
  #outer{
      border-radius: 18px; 
      background-color: #f5f6fb; 
      height: 46px !important; 
      width: 250px !important;
      border: 1px solid gray;
      font-size: 24px !important;
  }
  #absolute{
      border-radius: 18px; 
      height: 40px !important;
       width: 50%;  
       float: left; 
       cursor: pointer;
  }
  #relative{
      border-radius: 18px; 
      height: 40px !important;
      width: 50%;
      float: left;
      cursor: pointer;
  }

  #dist, #block,#cluster,#school{
      color: #284d8a;
      font-size: 34px !important; 
      line-height: 1.2em; 
      margin-top: 5px;
  }

  #download{
  cursor: pointer;
  font-size: 44px !important; 
  float: right;
  margin: 3px 0px 0px 8px;
  color: #3100cc;
}

#home{
  cursor: pointer;
  font-size: 45px !important; 
  float: right;
  margin: 2px 0px 0px 0px; 
  color: #3100cc; 
  display: none;
}
#patHealthcard, #infraHealthcard, #satHealthcard, #udiseHealthcard, #stdHealthCard, #downloadRaw{
  font-weight: bold; 
  text-decoration: underline; 
  font-size: 26px !important;
  color: #3100cc
}

#note, #students, #schools, #dateRange{
  text-align: justify; 
  font-size: 26px !important;
}
#choose_dist, #choose_block,#period,#grades,#subjects,#choose_semester, #choose_cluster, #choose_infra, #academicYear, #year, #month{
  margin-right: 20px;
  padding: 9px !important; 
  color: white; 
  border-radius: 6px; 
  font-size: 24px !important; 
  font-weight: bold; 
  background-color: rgb(152, 160, 163)
}

#blockbtn, #clusterbtn, #schoolbtn{
  margin-right: 15px; 
  font-size: 24px !important; 
  width: 160px !important;
  padding: 6px !important;
  background-color: rgb(152, 160, 163);
  margin-top: -7px !important;
}

.legends{
  width: 85% !important;
  height: 5vh;
  font-size: 32px !important;
  margin:1.2vh 1.2vh 1.2vh 0vh !important;
  padding-top: 1.3vh !important;
  text-align: center;
  border-radius: 20px !important;
  font-weight: bold;
}

#legend{
  font-size: 32px;
  font-weight: bold;
}

#legendNote{ 
  font-size: 32px;
}

#errMsg{
  text-align: center;
  line-height: 1.2em; 
  font-size: 26px; 
  margin-top: 3%;
}

}
