.outer1 {
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 24px 0 rgba(0,84,254,0.18);
}


.inner-1 {
  margin: 15px 0px 15px 0px;
  height: 90px;
  /* width: 270px; */
  border-radius: 13px;
  /* background: linear-gradient(135deg, #4266FF 0%, #40A6FF 100%); */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.02);
}

.iconDiv {
  height: 55px;
  width: 55px;
  border-radius: 6px;
  background-color: #3257E0;
}


.diksha {
  height: 19px;
  /* width: 51px; */
  color: #20253A;
  font-family: "Noto Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  margin: 40px 0px 20px 0px;
}

.ic-equalizer {
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: 0px;
  margin-top: 0px;
  opacity: 1;
}

.ic-equalizer1 {
  margin-top: 5px;
  height: 30px;
  width: 30px;
  opacity: 1;
}

.card{
  transition: transform .3s;
  cursor: pointer;
}

.card:hover {
  -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  transform: scale(1.04); 
}

.outer12 {
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 24px 0 rgba(0,84,254,0.18);
}


.card-tasks .card-body .table {
  margin-bottom: 0; }
  .card-tasks .card-body .table > thead > tr > th,
  .card-tasks .card-body .table > tbody > tr > th,
  .card-tasks .card-body .table > tfoot > tr > th,
  .card-tasks .card-body .table > thead > tr > td,
  .card-tasks .card-body .table > tbody > tr > td,
  .card-tasks .card-body .table > tfoot > tr > td {
    padding-top: 0;
    padding-bottom: 0; }


.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  transition: box-shadow 200ms ease, -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1);
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease, -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1); }
  .card .card-body {
    padding: 15px 15px 15px 15px; }
    .card .card-body.table-full-width {
      padding-left: 0;
      padding-right: 0; }
  .card .card-header {
    padding: 15px 15px 0;
    border: 0; }
    .card .card-header:not([data-background-color]) {
      background-color: transparent; }
    .card .card-header .card-title {
      
      margin-top: 10px; }
  .card .map {
    border-radius: 3px; }
    .card .map.map-big {
      height: 400px; }
  .card[data-background-color="orange"] {
    background-color: #51cbce; }
    .card[data-background-color="orange"] .card-header {
      background-color: #51cbce; }
    .card[data-background-color="orange"] .card-footer .stats {
      color: #FFFFFF; }
  .card[data-background-color="red"] {
    background-color: #ef8157; }
  .card[data-background-color="yellow"] {
    background-color: #fbc658; }
  .card[data-background-color="blue"] {
    background-color: #51bcda; }
  .card[data-background-color="green"] {
    background-color: #6bd098; }
  .card .image {
    overflow: hidden;
    height: 200px;
    position: relative; }
  .card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px; }
  .card .numbers {
    font-size: 2em; }
  .card .big-title {
    font-size: 12px;
    text-align: center;
    /* font-weight: 500; */
    padding-bottom: 15px; }
  .card label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A; }
  .card .card-footer {
    background-color: transparent;
    border: 0; }
    .card .card-footer .stats i {
      margin-right: 5px;
      position: relative;
      top: 0px;
      color: #66615B; }
    .card .card-footer .btn {
      margin: 0; }
  .card.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0; }
    .card.card-plain .card-body {
      padding-left: 5px;
      padding-right: 5px; }
    .card.card-plain img {
      border-radius: 12px; }


.card .info-area {
  padding: 40px 0 40px;
  text-align: center;
  position: relative;
  z-index: 2; }

  .card-stats{
    margin-top: 22px;
    background-color:rgb(160, 233, 205);
  }

.card-stats .card-body {
  padding: 18px}
  .card-stats .card-body .numbers {
    font-weight: bold;
    color: rgb(88, 88, 88);
    font-family: "Noto Sans";
  }
    .card-stats .card-body .numbers p {
      margin-bottom: 0; 
    }
    .card-stats .card-body .numbers .card-category {
      font-size: 16px;
      font-weight: bold;
      margin-top: 8px;
      text-align: center;
    }


.card-stats .icon-big {
  font-size: 1.8em;
}
  .card-stats .icon-big i {
    line-height: 59px; }