<div class="container-fluid" style="background-color: rgb(245, 245, 245); height: 100%;">
    <div class="container" style="padding-top: 40px !important;">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" id="addUser" [routerLink]="['/create-user']"
                    style="background: linear-gradient(135deg, #32c2e6 0%, #57ddc0 100%);">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <div class="icon-big text-center icon-warning">
                                    <div class="iconDiv">
                                        <img class="ic-equalizer1" src="../../assets/addUser.ico" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-10">
                                <div class="numbers">
                                    <p class="card-category">Add User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" id="chPass" [routerLink]="['/change-password']"
                    style="background: linear-gradient(135deg, #2da8e0 0%, #50ccf1 100%);">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <div class="icon-big text-center icon-warning">
                                    <div class="iconDiv">
                                        <img class="ic-equalizer1" src="../../assets/chPass.ico" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-10">
                                <div class="numbers">
                                    <p class="card-category">Change <br> Password</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" id="user" [routerLink]="['/users']"
                    style="background: linear-gradient(135deg, #7adef7 0%, #66b3f1 100%);">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <div class="icon-big text-center icon-warning">
                                    <div class="iconDiv">
                                        <img class="ic-equalizer1" src="../../assets/allUsers.ico" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-10">
                                <div class="numbers">
                                    <p class="card-category">Users List</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" id="logs" [routerLink]="['/all-logs']"
                    style="background: linear-gradient(135deg, #8887eb 0%, #5da7ec 100%);">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <div class="icon-big text-center icon-warning">
                                    <div class="iconDiv">
                                        <img class="ic-equalizer1" src="../../assets/ic_assignment_24px.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-10">
                                <div class="numbers">
                                    <p class="card-category">Logs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" id="summary" [routerLink]="['/summary-statistics']"
                    style="background: linear-gradient(135deg, #53bfc7 0%, #3d8bbe 100%);">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <div class="icon-big text-center icon-warning">
                                    <div class="iconDiv">
                                        <img class="ic-equalizer1" src="../../assets/ic_grid_on.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-10">
                                <div class="numbers">
                                    <p class="card-category">Summary</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" id="s3dwn" [routerLink]="['/s3FileDownload']"
                    style="background: linear-gradient(135deg, #3a97d4 0%, #59adf1 100%);">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <div class="icon-big text-center icon-warning">
                                    <div class="iconDiv">
                                        <img class="ic-equalizer1" src="../../assets/ic_cloud_download.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-10">
                                <div class="numbers">
                                    <p class="card-category">Download <br> S3 Files</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <a class="card card-stats" id="moniter" href="{{grafanaUrl}}" target=" "
                    style="background: linear-gradient(135deg, #5eb3ec 0%, #34cfcf 100%); text-decoration: none;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <div class="icon-big text-center icon-warning">
                                    <div class="iconDiv">
                                        <img class="ic-equalizer1" src="../../assets/monitoring.ico" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-10">
                                <div class="numbers">
                                    <p class="card-category">Monitoring <br> Details</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" id="nifi" [routerLink]="['/nifi-shedular']"
                    style="background: linear-gradient(135deg, #4c92d4 0%, #68c2ec 100%);">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-3 col-md-2">
                                <div class="icon-big text-center icon-warning">
                                    <div class="iconDiv">
                                        <img class="ic-equalizer1" src="../../assets/schedular.ico" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9 col-md-10">
                                <div class="numbers">
                                    <p class="card-category">Nifi <br> Scheduler</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>