<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div [routerLink]="['/home/create-user']" class="cards" id="logs">
                <img src="../../assets/addUser.png" alt="addUser"
                    style="margin: 2% 0% 3% 0%; "><br>
                <strong>
                    Add User
                </strong>
            </div>
        </div>
        <div class="col-sm-3">
            <div [routerLink]="['/home/change-password']" class="cards" id="logs">
                <img src="../../assets/changePassword.png" alt="changePassword"
                    style="margin: 2% 0% 3% 0%; "><br>
                <strong>
                    Change Password
                </strong>
            </div>
        </div>
        <div class="col-sm-3">
            <div [routerLink]="['/home/users']" class="cards" id="logs">
                <img src="../../assets/allUsers.png" alt="usersList"
                    style="margin: 2% 0% 3% 0%; "><br>
                <strong>
                    Users List
                </strong>
            </div>
        </div>
        <div class="col-sm-3">
            <div [routerLink]="['/home/all-logs']" class="cards" id="logs">
                <img src="../../assets/logs.png" alt="s3FileDownload"
                    style="margin: 2% 0% 3% 0%; "><br>
                <strong>
                    Logs
                </strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div [routerLink]="['/home/summary-statistics']" class="cards" id="summary">
                <img src="../../assets/statistics.png" alt="statistics"
                    style="margin: 2% 0% 3% 0%; "><br>
                <strong>
                    Summary Statistics
                </strong>
            </div>
        </div>
        <div class="col-sm-3">
            <div [routerLink]="['/home/s3FileDownload']" class="cards" id="s3dwn">
                <img src="../../assets/downloadFile.png" alt="s3FileDownload"
                    style="margin: 2% 0% 3% 0%; "><br>
                <strong>
                    Download S3 Files
                </strong>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="cards" id="moniter">
                <a href="{{grafanaUrl}}" target=" " style="text-decoration: none; color: #284d8a;">
                    <img src="../../assets/monitering.png" alt="s3FileDownload"
                        style="margin: 2% 0% 3% 0%; "><br>
                    <strong>
                        Monitoring Details
                    </strong>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div [routerLink]="['/home/nifi-shedular']" class="cards" id="s3dwn">
                <img src="../../assets/nifi.png" alt="nifiShedular"
                    style="margin: 2% 0% 3% 0%; "><br>
                <strong>
                    Nifi Scheduler
                </strong>
            </div>
        </div>
    </div>
</div>