<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <p style="font-family: Arial; color: #284d8a;font-size: 18px; line-height: 1em; margin-top: 5px;">Attendance report for: GUJARAT{{hierName}}</p>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12" id="spinner">
                        <div class="spinner-border text-secondary" style="height: 20px; width: 20px; font-size: 21px; margin: 1% 5% 0% 0%; float: left; font-family: Arial;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span style="color: green; float: left; font-size: 12px; margin-top: 0.6%;font-family: Arial;">Please
                            Wait...</span>

                    </div>
                    <p id="errMsg" style="display: none; text-align: center; margin-top: 1%; font-family: Arial;"></p>

                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger" style="font-size: 11px;background-color: rgb(221, 127, 127); font-weight: bold; width: 60px; font-family: Arial; float: right;margin: 5px 0px 0px 0px;" (click)="logout()">Logout</button>
                    <button id="districtWise" class="btn btn-secondary" style="font-size: 11px; font-weight: bold; width: 60px; font-family: Arial; float: right;margin: 5px 10px 0px 0px;" [routerLink]="['/map-view']">Home</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-secondary" style="font-size: 11px; width: 70px; float: left;margin: 0px 10px 5px 0px;" (click)="blockWise()">&nbsp;<b style="font-family: Arial;">Blocks</b> </button>
            <button class="btn btn-secondary" style="font-size: 11px; width: 70px; float: left;margin: 0px 10px 5px 0px;" (click)="clusterWise()">&nbsp;<b style="font-family: Arial;">Clusters</b> </button>
            <button class="btn btn-secondary" style="font-size: 11px; width: 70px; float: left;margin: 0px 0px 5px 0px;" (click)="schoolWise()">&nbsp;<b style="font-family: Arial;">Schools</b> </button>
        </div>
        <!-- <div class="col-sm-8" style="font-family: Arial;">

            <select style="margin-right: 10px; padding: 6.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);" [(ngModel)]="myDistrict" name="myDistrict" (change)="myDistData(myDistrict)">
                <option [value]="myDistrict" disabled selected="selected">Choose a District
                </option>
                <option *ngFor="let dist of districtsNames" [(ngValue)]="dist"
                    style="font-family: Arial; font-size: 11px;">
                    {{dist.name}}
                </option>
            </select>
            <select [hidden]="blockHidden" style="margin-right: 10px; padding: 6.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);" [(ngModel)]="myBlock" name="myBlock" (change)="myBlockData(myBlock)">
                <option [value]="myBlock" disabled selected="selected">Choose a Block
                </option>
                <option *ngFor="let block of blocksNames" [(ngValue)]="block"
                    style="font-family: Arial;font-size: 11px;">
                    {{block.name}}
                </option>
            </select>
            <select [hidden]="clusterHidden" style="margin-right: 10px; padding: 6.5px; color: white; border-radius: 4px; font-size: 11px; font-weight: bold; background-color: rgb(72, 183, 228);" [(ngModel)]="myCluster" name="myCluster" (change)="myClusterData(myCluster)">
                <option [value]="myCluster" disabled selected="selected">Choose a Cluster
                </option>
                <option *ngFor="let cluster of clusterNames" [(ngValue)]="cluster"
                    style="font-family: Arial;font-size: 11px; "
                    [ngStyle]="{'color': cluster.name !== 'NO NAME FOUND'? 'white' : '#ff3333'}">
                    {{cluster.name}}
                </option>
            </select>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12">
            <canvas id="myChart" width="1000" height="400"></canvas>
        </div>
    </div>
</div>