    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      }




      .loader{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        /* background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
                    50% 50% no-repeat rgb(249,249,249); */
      }


/*====================================================================*/

.dataTables_scroll, .dataTables_scrollHead{
  font-size: 11px; 
  text-align: center; 
  width: 100%; 
  border: 1px solid gray;
}

@media screen and (min-width: 1920px){
  .dataTables_scroll, .dataTables_scrollHead{
    font-size: 16px; 
    text-align: center; 
    width: 100%; 
    border: 1px solid gray;
  }
}

@media screen and (min-width: 2500px){
  .dataTables_scroll, .dataTables_scrollHead{
    font-size: 22px; 
    text-align: center; 
    width: 100%; 
    border: 1px solid gray;
  }
}

@media screen and (min-width: 3820px) {
  .dataTables_scroll, .dataTables_scrollHead{
    font-size: 26px !important; 
    text-align: center; 
    width: 100%; 
    border: 1px solid gray;
  }
}